extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")
  //za premikanje modalnih oken
  //script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Moje odsotnosti
    if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      .row.col-lg-11
        .col-lg-2#imgEmployee
          if(employee.role == 'admin')
            img.img-fluid(src='/admin64.png' alt='ikona')
          else if(employee.role == 'tajnik')
            img.img-fluid(src='/secratery64.png', alt='ikona')
          else if(employee.role == 'vodja')
            img.img-fluid(src='/manager64.png', alt='ikona')
          else if(employee.role == 'električar')
            img.img-fluid(src='/electrican64.png', alt='ikona')
          else if(employee.role == 'strojnik')
            img.img-fluid(src='/mechanic64.png', alt='ikona')
          else if(employee.role == 'plc')
            img.img-fluid(src='/plc64.png', alt='ikona')
          else if(employee.role == 'kuka')
            img.img-fluid(src='/kuka64.png', alt='ikona')
          else if(employee.role == 'konstruktor')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else if(employee.role == 'konstrukter')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else
            img.img-fluid(src='/worker64.png', alt='ikona')
        .col-lg-4
          h5#employeeName.col-lg-8= employee.name+' '+employee.surname
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
            a.btn.btn-primary(href='/employees/userId?userId='+employee.id) Projekti
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik')
            //a.btn.btn-primary(href='/employees/password/id?id='+employee.id) Spremeni geslo
            button.btn.btn-primary(onclick='openChangePassModal('+employee.id+')') Spremeni geslo
        .col-lg-2
          if(user_type == 'admin' || user_type == 'tajnik')
            //a.btn.btn-primary(href='/employees/role/id?id='+employee.id) Spremeni pravice
            button.btn.btn-primary(onclick='openChangeRoleModal('+employee.id+')') Spremeni pravice
      br
      .row
        .col-lg-3
          button.btn.btn-success(onclick='toggleAddAbsenceCollapse()') Dodaj odsotnost
      br
      .collapse.multi-collapse(id='collapseAddAbsence') 
        form#addAbsenceForm(role='form', method='post')
          .form-group
            label(for='absenceNameNew', style='width:100%') Ime odsotnosti
              input#absenceNameNew.form-control(type='text', name='absenceNameNew')
          .form-group
            label(for='absenceStartNew', style='width:100%') Začetek odsotnosti
              input#absenceStartNew.form-control(type='date', name='absenceStartNew', required="")
          .form-group
            label(for='absenceFinishNew', style='width:100%') Konec odsotnosti
              input#absenceFinishNew.form-control(type='date', name='absenceFinishNew', required="")
          .form-group
            label(for='absenceReasonNew', style='width:100%') Razlog
              select#absenceReasonNew.custom-select.mr-sm-2.form-control.select2-absence-reasonsNew(name='absenceReasonNew', style='width:100%')
          .d-flex.justify-content-center
            button#btnAddAbsence.btn.btn-success(type='submit') Dodaj
      br
      .row.col-lg-12
        .col-xs-12.col-sm-8
          h5 Odsotnosti (nepotrjena):
      #absenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
        each absence in absences
          if(!absence.approved && absence.active)
            .list-group-item(id='absence'+absence.id)
              .row
                .col-md-3.mt-2
                  if(absence.name)
                    label(id='absenceName'+absence.id)= absence.name
                  else
                    label(id='absenceName'+absence.id) (brez imena)
                .col-md-3.mt-2
                  if(absence.project_name)
                    label(id='absenceProject'+absence.id)= absence.project_name
                  else
                    label(id='absenceProject'+absence.id) (brez projekta)
                .col-md-2.mt-2
                  label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
                .col-md-2.mt-2
                  label(id='absenceReason'+absence.id)= absence.reason
                .col-md-2(id='absenceControl'+absence.id)
                  if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
                    button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',1,1)', style='width:25px, height:5px, border:none;')
                      img.img-fluid(src='/approve.png', alt='ikona' style='width:15px')
                  button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')', style='width:25px, height:5px, border:none;')
                    img.img-fluid(src='/edit.png', alt='ikona' style='width:15px')
                  button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',0,0)', style='width:25px, height:5px, border:none;')
                    img.img-fluid(src='/delete.png', alt='ikona' style='width:15px')
              .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
      br
      .row.col-lg-12
        .col-xs-12.col-sm-8
          h5 Odsotnosti (potrjena):
      #approvedAbsenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
        each absence in absences
          if(absence.approved && absence.active)
            .list-group-item(id='absence'+absence.id)
              .row
                .col-md-3.mt-2
                  if(absence.name)
                    label(id='absenceName'+absence.id)= absence.name
                  else
                    label(id='absenceName'+absence.id) (brez imena)
                .col-md-3.mt-2
                  if(absence.project_name)
                    label(id='absenceProject'+absence.id)= absence.project_name
                  else
                    label(id='absenceProject'+absence.id) (brez projekta)
                .col-md-2.mt-2
                  label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
                .col-md-2.mt-2
                  label(id='absenceReason'+absence.id)= absence.reason
                .col-md-2(id='absenceControl'+absence.id)
                  if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
                    button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',0,1)', style='width:25px, height:5px, border:none;')
                      img.img-fluid(src='/remove.png', alt='ikona' style='width:15px')
                    button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')', style='width:25px, height:5px, border:none;')
                      img.img-fluid(src='/edit.png', alt='ikona' style='width:15px')
                    button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',0,1)', style='width:25px, height:5px, border:none;')
                      img.img-fluid(src='/delete.png', alt='ikona' style='width:15px')
              .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
      br
      .row.col-lg-12
        .col-xs-12.col-sm-8
          h5 Odsotnosti (odstranjena):
      #deletedAbsenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
        each absence in absences
          if(!absence.active)
            .list-group-item(id='absence'+absence.id)
              .row
                .col-md-3.mt-2
                  if(absence.name)
                    label(id='absenceName'+absence.id)= absence.name
                  else
                    label(id='absenceName'+absence.id) (brez imena)
                .col-md-3.mt-2
                  if(absence.project_name)
                    label(id='absenceProject'+absence.id)= absence.project_name
                  else
                    label(id='absenceProject'+absence.id) (brez projekta)
                .col-md-2.mt-2
                  label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
                .col-md-2.mt-2
                  label(id='absenceReason'+absence.id)= absence.reason
                .col-md-2(id='absenceControl'+absence.id)
                  if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
                    if(absence.approved == true)
                      button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',0,0)', style='width:25px, height:5px, border:none;')
                        img.img-fluid(src='/remove.png', alt='ikona' style='width:15px')
                    else
                      button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',1,0)', style='width:25px, height:5px, border:none;')
                        img.img-fluid(src='/approve.png', alt='ikona' style='width:15px')
                    button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')', style='width:25px, height:5px, border:none;')
                      img.img-fluid(src='/edit.png', alt='ikona' style='width:15px')
                    if(absence.approved == true)
                      button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',1,1)', style='width:25px, height:5px, border:none;')
                        img.img-fluid(src='/undelete1.png', alt='ikona' style='width:15px')
                    else
                      button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',1,0)', style='width:25px, height:5px, border:none;')
                        img.img-fluid(src='/undelete1.png', alt='ikona' style='width:15px')
              .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
      //MODALNO OKNO SPREMENI GESLO
      #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Geslo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messagePass
              form#changePasswordform(role='form', method='post')
                .form-group
                  label(for='user_password', style='width:100%') Geslo 
                    input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                .form-group
                  label(for='user_password_again', style='width:100%') Ponovno geslo 
                    input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                    .valid-feedback Gesli se ujemata!
                    .invalid-feedback Gesli se ne ujemata!
                button#btnChangePass.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO SPREMENI PRAVICE - VLOGO
      #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Pravice
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messageRole
              form#changeRoleform(role='form', method='post')
                .form-group
                  label(for='user_role', style='width:100%') Vloga
                    select#user_role.custom-select.mr-sm-2.form-control.select2-role(name='user_role', style='width:100%')
                button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //p= JSON.stringify(user_type)
      //p= JSON.stringify(user_id)
  //script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/absences/absences.js')