extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Dodaj naročnika
    .row
      .col-xs-12.col-md-10
        form.form-horizontal(action="/subscribers/create", method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="name") Naziv naročnika
            .col-xs-12.col-sm-12
              input#number.form-control(name="name" placeholder="Naziv naročnika")
          button.btn.btn-success(type='submit') Dodaj naročnika