extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Dodaj delavca
    .row
      .col-xs-12.col-md-10
        form.form-row.align-items-center(action='createWorker?projectId='+projectId, method="post", role="form")
          .col-xs-12.col-md-5
            label.mr-sm-2(for='inlineFormCustomSelect') Delavec
            select#inlineFormCustomSelect.custom-select.mr-sm-2.form-control(name='worker', disabled=disabled)
              each worker in workers
                - var selected = worker.value
                option(value=worker.id, selected=selected)= worker.surname+' '+worker.name
          .col-xs-12.col-md-5
            label.mr-sm-2(for='inlineFormCustomSelect') Vloga
            select#inlineFormCustomSelect.custom-select.mr-sm-2.form-control(name='role', disabled=disabled)
              each role in roles
                - var selected = role.value == role.id
                option(value=role.id, selected=selected)= role.workRole
          .col-xs-12.col-md-2.text-center
            button.btn.btn-primary(type='submit') Dodaj
    //p= JSON.stringify(workers)
    //p= JSON.stringify(roles)