extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Dodaj zaposlenega
    if(message1)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message1
    if(message2)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message2
    .row
      .col-xs-12.col-md-10
        form.form-horizontal(action="/employees/create", method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="username") Uporabniško ime
            .col-xs-12.col-sm-12
              input#username.form-control(name="username" placeholder="Uporabniško ime" required='')
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="name") Ime
            .col-xs-12.col-sm-12
              input#name.form-control(name="name" placeholder="Ime" required='')
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="surname") Priimek
            .col-xs-12.col-sm-12
              input#surname.form-control(name="surname" placeholder="Priimek" required='')
          .form-group
            label.col-xs-10.col-sm-4.control-label(for='role') Vloga
            .col-xs-12.col-sm-12
              select#inlineFormCustomSelect.custom-select.mr-sm-2.form-control(name='role', disabled=disabled)
                  option(value=role.id, selected=selected)= role.role
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="password") Geslo
            .col-xs-12.col-sm-12
              input#subscriber.form-control(name="password" type="password" placeholder="Geslo" required='')
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="password2") Ponovi geslo
            .col-xs-12.col-sm-12
              input#subscriber.form-control(name="password2" type="password" placeholder="Ponovno geslo" required='')
          button.btn.btn-success Dodaj zaposlenega
    //p= JSON.stringify(usernames)
  script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/employee/manage.js')