extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Spremeni geslo
    if(message1)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message1
    if(message2)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message2
    .row
      .col-xs-12.col-md-10
        form.form-horizontal(action="/employees/password/change?userId="+userId, method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="password") Geslo
            .col-xs-12.col-sm-12
              input#subscriber.form-control(name="password" type="password" placeholder="Geslo" required='')
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="password2") Ponovi geslo
            .col-xs-12.col-sm-12
              input#subscriber.form-control(name="password2" type="password" placeholder="Ponovno geslo" required='')
          button.btn.btn-success Spremeni geslo
    //p= JSON.stringify(usernames)
  script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/employee/manage.js')