extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Spremeni vlogo
    if(message1)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message1
    if(message2)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message2
    .row
      .col-xs-12.col-md-10
        form.form-horizontal(action="/employees/role/change?id="+userId, method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for='role') Vloga
            .col-xs-12.col-sm-12
              select#inlineFormCustomSelect.custom-select.mr-sm-2.form-control(name='role', disabled=disabled)
                each role in roles
                  - var selected = role.value == role.id
                  option(value=role.id, selected=selected)= role.role
          button.btn.btn-success Spremeni vlogo
    //p= JSON.stringify(usernames)
  script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/employee/manage.js')