extends layout

block content
  #banner.page-header
    if(user_type == 'admin' || user_type == 'vodja')
      br
      label(for='project_start_edit', style='width:200px') Spremeni datum
        input#dateInput.form-control(type='date', name='project_start_edit')
      button.btn.btn-primary.ml-3(onclick='changeDate()') Posodobi
    .row
      .col-lg-6
        h1#header Opravila danes
    .d-flex
      if(user_type == 'admin')
        #workerButton
          button.btn.btn-primary(onclick='openWorkerTab()') Delavci
      else
        #workerButton
          button.btn.btn-mechanic.mr-2(onclick='openWorkerCategory(2)') Strojniki
          button.btn.btn-electrican.mr-2(onclick='openWorkerCategory(3)') Električarji
          button.btn.btn-secondary.mr-2(onclick='openWorkerCategory(0)') Ostali
      button.btn.btn-primary.ml-auto.mr-2(onclick='toggleFullScreen()')
        img.img-fluid(src='/fullscreen.png', alt='ikona', style='width:25px;')
      button.btn.btn-primary(onclick='showimage()') Ozadje
    .d-flex
      .btn-toolbar.mr-auto(role='toolbar', aria-label='Toolbar with button groups')
    .d-flex
      .btn-toolbar.mr-auto(role='toolbar', aria-label='Toolbar with button groups')
        if(user_type == "admin")
          #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
            button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+0+')') Vsa
            button#option2.btn.btn-purchase(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+2+')') Nabava
            button#option3.btn.btn-construction(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+3+')') Konstrukcija
            button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+4+')') Strojna izdelava
            button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+5+')') Elektro izdelava
            button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+6+')') Montaža
            button#option7.btn.btn-programmer(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+7+')') Programiranje
            button#option1.btn.btn-dark(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+1+')') Brez
        else
          #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
            button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+0+')') Vsa
            button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+4+')') Strojna izdelava
            button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+5+')') Elektro izdelava
            button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+6+')') Montaža
      if(user_type == 'admin' || user_type == 'vodja')
        if(user_type == "admin")
          #adminCheckbox.custom-control.custom-checkbox.mt-4.mr-2
            input.custom-control-input(id='customAdminCheck', checked="", type='checkbox', onchange='toggleAdmin(this)')
            label.custom-control-label(for='customAdminCheck')  Admin pogled
        else
          #adminCheckbox.custom-control.custom-checkbox.mt-4.mr-2
            input.custom-control-input(id='customAdminCheck', type='checkbox', onchange='toggleAdmin(this)')
            label.custom-control-label(for='customAdminCheck')  Admin pogled
      if(user_type == "tajnik" || user_type == 'info')
        #animationCheckbox.custom-control.custom-checkbox.mt-4
          input.custom-control-input(id='customAnimationCheck', checked="", type='checkbox', onchange='toggleAnimation(this)')
          label.custom-control-label(for='customAnimationCheck')  Animacija
      else
        #animationCheckbox.custom-control.custom-checkbox.mt-4
          input.custom-control-input(id='customAnimationCheck', type='checkbox', onchange='toggleAnimation(this)')
          label.custom-control-label(for='customAnimationCheck')  Animacija
    //
      #dailyList.list-group.d-flex.daily-list.mt-2
        each task in tasks
          row.list-group-item.flex-column(id=task.id)
            .d-flex.w-100.justify-content-between
              #taskName.h5.mb-1= task.task_name
              //#taskCategory= task.category
            .d-flex.justify-content-between
              #workers.mb-1= task.workers
              //#subscribers= task.subscriber
    br
    .row
      h1.col-6 Dnevna
        #dailyList.list-group.d-flex.daily-list.mt-2
          each task in tasks
            row.list-group-item.flex-column(id=task.id)
              .d-flex.w-100.justify-content-between
                #taskName.h5.mb-1= task.task_name
                //#taskCategory= task.category
              .d-flex.justify-content-start.flex-wrap
                #workers.mb-1= task.workers
                //#subscribers= task.subscriber
      h1.col-6 Tedenski plan (7 dni)
        #weeklyList.list-group.d-flex.daily-list.mt-2
          each task in weekly
            row.list-group-item.flex-column(id=task.id)
              .d-flex.w-100.justify-content-between
                #taskName.h5.mb-1= task.task_name
                //#taskCategory= task.category
              .d-flex.justify-content-start
                #weekDate.h6= task.task_start + " - " + task.task_finish
              .d-flex.justify-content-start.flex-wrap
                #workers.mb-1= task.workers
                //#subscribers= task.subscriber
    h1#time.fixed Datum
    //MODALNO OKNO ZA KATEGORIJE DELAVCEV
    #modalWorkerCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document', style='width:1250px;')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Shema zaposlenih
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3.text-center
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-success(onclick='openWorkerCategory(1)' style='width:150px') Konstrukterji
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-mechanic(onclick='openWorkerCategory(2)' style='width:150px') Strojniki
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-electrican(onclick='openWorkerCategory(3)' style='width:150px') Električarji
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-plc(onclick='openWorkerCategory(4)' style='width:150px') PLC
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-warning(onclick='openWorkerCategory(5)' style='width:150px') KUKA
            .d-flex.justify-content-center.mb-3
              .p-2.btn.btn-outline-secondary(onclick='openWorkerCategory(0)' style='width:150px') Ostali
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA DELAVCE IZBRANE KATEGORIJE
    #modalWorkerTab.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document', style='width:1250px;')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Shema zaposlenih
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3.text-center
            #categoryWorkerList.list-group.span4
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //script(type='text/javascript', src='../javascripts/daily/daily.min.js')
  script(type='text/javascript', src='../javascripts/daily/daily.js')