extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Osnovna plošča
    .row
      if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/servis.png', alt='Slika servisov' style="width:30%")
            .card-body.kartica
              h5.card-title Servisi
              p.card-text Izredna opravila
              if(user_type != 'info')
                a.btn.btn-primary(href='/servis') Pojdi!
              else
                a.btn.btn-primary Pojdi!
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/projects.png', alt='Slika projetkov' style="width:30%")
            .card-body.kartica
              h5.card-title Projekti
              p.card-text Pregled projektov in upravlanje z njimi
              if(user_type != 'info')
                a.btn.btn-primary(href='/projects') Pojdi!
              else
                a.btn.btn-primary Pojdi!
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/employees.png', alt='Slika zaposlenih' style="width:30%")
            .card-body.kartica
              h5.card-title Zaposleni
              p.card-text Pregled zaposlenih in nad katerimi projekti delajo
              if(user_type != 'info')
                a.btn.btn-primary(href='/employees') Pojdi!
              else
                a.btn.btn-primary Pojdi!
              br
              #employeesBadges
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/company.png', alt='Slika naročnikov' style="width:30%")
            .card-body.kartica
              h5.card-title Naročniki
              p.card-text Pregled naročnikov in njihovih ikon
              if(user_type != 'info')
                a.btn.btn-primary(href='/subscribers') Pojdi!
              else
                a.btn.btn-primary Pojdi!
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/viz.png', alt='Slika vizualizacije' style="width:30%")
            .card-body.kartica
              h5.card-title Vizualizacija
              p.card-text Vizualizacija projektov in opravil
              if(user_type != 'info')
                a.btn.btn-primary(href='/viz') Pojdi!
              else
                a.btn.btn-primary Pojdi!
      .col-sm-4
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block(src='/daily.png', alt='Slika dnevnih opravil' style="width:30%")
          .card-body.kartica
            h5.card-title Danes
            p.card-text Pregled nad vsemi opravili za danes
            a.btn.btn-primary(href='/daily') Pojdi!
      if(user_type != 'info')
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/myProject.png', alt='Slika mojih projektov' style="width:30%")
            .card-body.kartica
              h5.card-title Moji projekti
              p.card-text Pregled nad projekti za katere sem zadolžen
              if(user_type != 'info')
                a.btn.btn-primary(href='/employees/userId?userId='+user_id) Pojdi!
              else
                  a.btn.btn-primary Pojdi!
              br
              #myProjectsBadges
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/myTasks.png', alt='Slika mojih opravil' style="width:30%")
            .card-body.kartica
              h5.card-title Moja opravila
              p.card-text Trenutno opravilo in pregled prihajajočih opravil
              if(user_type != 'info')
                a.btn.btn-primary(href='/employees/tasks?userId='+user_id) Pojdi!
              else
                  a.btn.btn-primary Pojdi!
              br
              #myTasksBadges
        .col-sm-4
          .card.text-center.mb-3
            img.card-img-top.rounded.mx-auto.d-block(src='/absence.png', alt='Slika mojih opravil' style="width:30%")
            .card-body.kartica
              h5.card-title Moje odsotnosti
              p.card-text Pregled odsotnosti in dodajanje novih
              if(user_type != 'info')
                a.btn.btn-primary(href='/employees/absence?id='+user_id) Pojdi!
              else
                  a.btn.btn-primary Pojdi!
  //script(type='text/javascript', src='../javascripts/changes/dashboard.min.js')
  //script(type='text/javascript', src='../javascripts/changes/dashboardChanges.js')