extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Uredi projekt
    if(message)
      .alert.alert-primary.average#kt-limit(role='alert')
        p=message
    .row
      .col-xs-12.col-md-10
        form.form-horizontal(action="/projects/update?id="+projectId, method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="number") Številka projekta
            .col-xs-12.col-sm-12
              input#number.form-control(name="number" value=projectNumber required='' placeholder="Številka projekta")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="name") Ime projekta
            .col-xs-12.col-sm-12
              input#name.form-control(name="name" required='' value=projectName placeholder="Ime projekta")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for='subscriber') Naročnik
            .col-xs-12.col-sm-12
              select#inlineFormCustomSelect.custom-select.mr-sm-2.form-control(name='subscriber', disabled=disabled)
                each subscriber in subscribers
                  - var selected = subscriber.id == projectSubscriber
                  option(value=subscriber.id, selected=selected)= subscriber.name
            .col-xs-12.col-sm-12
              a.btn.btn-primary(href='/subscribers/add') Dodaj naročnika
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="start") Začetek
            .col-xs-12.col-sm-12
              input#name.form-control(type='date' value=projectStart name="start" placeholder="Začetek projekta")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="finish") Konec
            .col-xs-12.col-sm-12
              input#name.form-control(type='date' value=projectFinish name="finish" placeholder="Konec projekta")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="notes") Opombe
            .col-xs-12.col-sm-12
              input#name.form-control(name="notes" value=projectNotes placeholder="Opombe")
          button.btn.btn-success(type='submit') Posodobi projekt
    //p= JSON.stringify(projectStart.date)
    //p= JSON.stringify(subscribers)
    //p= JSON.stringify(projectSubscriber)