extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Moji projekti
    if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      .row.col-lg-11
        .col-lg-2#imgEmployee
          if(employee.role == 'admin')
            img.img-fluid(src='/admin64.png' alt='ikona')
          else if(employee.role == 'tajnik')
            img.img-fluid(src='/secratery64.png', alt='ikona')
          else if(employee.role == 'vodja')
            img.img-fluid(src='/manager64.png', alt='ikona')
          else if(employee.role == 'električar')
            img.img-fluid(src='/electrican64.png', alt='ikona')
          else if(employee.role == 'strojnik')
            img.img-fluid(src='/mechanic64.png', alt='ikona')
          else if(employee.role == 'plc')
            img.img-fluid(src='/plc64.png', alt='ikona')
          else if(employee.role == 'kuka')
            img.img-fluid(src='/kuka64.png', alt='ikona')
          else if(employee.role == 'konstruktor')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else if(employee.role == 'konstrukter')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else
            img.img-fluid(src='/worker64.png', alt='ikona')
        .col-lg-4
          h5#employeeName.col-lg-8= employee.name+' '+employee.surname
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
            a.btn.btn-primary(href='/employees/tasks?userId='+employee.id) Opravila
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type== 'vodja')
            button.btn.btn-primary(onclick='openChangePassModal('+employee.id+')') Spremeni geslo
        .col-lg-2
          if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
            button.btn.btn-primary(onclick='openChangeRoleModal('+employee.id+')') Spremeni pravice
      br
      .row.col-lg-12
        .col-xs-12.col-sm-4
          h5 Projekti:
          row#projectList.list-group.span5
            each project in projects
              a.col-xs-12.list-group-item.list-group-item-action(href='#', id=project.id)
                .col-sm-10
                  strong= project.name
                .row
                  .img-container.col-sm-2
                    img.img-fluid(src='/logo/roboteh64.png', alt='ikona')
                  .col-sm-10
                    label= project.project_name
                #projectListBadges
                  if(project.finished)
                    span.badge.badge-success.ml-2.mr-2.p-2 KONČANO
        .col-xs-12.col-sm-8
          h5 Info o projektu:
          #myActiveProject.card.mb-3.span5(style='width:100%')
            #activeProjectSubscriber.card-header Naročnik
            .card-body
              .d-flex.mb-1
                h5#activeProjectName.p-1.mr-auto Projekt
              .d-flex
                #activeTaskDate Datum
                .ml-auto.progress(style='width:40%')
                  #activeProjectProgress.progress-bar.progress-bar-striped.progress-bar-animated(style='width:0%')
              .d-flex
                #activeProjectBadges
                #activeProjectButtons.ml-auto
              hr
              h5 Opravila:
              #projectTasks.list-group
              hr
              h5 Delavci:
              .col-sm-12
                #projectWorkers.row
      //MODALNO OKNO SPREMENI GESLO
      #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Geslo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messagePass
              form#changePasswordform(role='form', method='post')
                .form-group
                  label(for='user_password', style='width:100%') Geslo 
                    input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                .form-group
                  label(for='user_password_again', style='width:100%') Ponovno geslo 
                    input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                    .valid-feedback Gesli se ujemata!
                    .invalid-feedback Gesli se ne ujemata!
                button#btnChangePass.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO SPREMENI PRAVICE - VLOGO
      #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Pravice
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messageRole
              form#changeRoleform(role='form', method='post')
                .form-group
                  label(for='user_role', style='width:100%') Vloga
                    select#user_role.custom-select.mr-sm-2.form-control.select2-role(name='user_role', style='width:100%')
                button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //p= JSON.stringify(user_type)
      //p= JSON.stringify(user_id)
  script(type='text/javascript', src='../javascripts/employee/employee.min.js')
  //script(type='text/javascript', src='../javascripts/employee/change.js')
  //script(type='text/javascript', src='../javascripts/employee/projects.js')
  //script(type='text/javascript', src='../javascripts/changes/userProjectChanges.js')