extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Seznam zaposlenih
    if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      .row
        if(user_type == 'admin' || user_type == 'tajnik')
          //a.btnAddProject.btn.btn-primary(href='/employees/add') Dodaj novega zaposlenega
      //br
      .row
        if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
          input.btnAddProject.btnadd.btn.btn-success.mr-2(type='button', value='Dodaj zaposlenega')
          if(user_type == 'admin')
            button.btn.btn-success.ml-3(onclick='openNewRoleModal(0)') Dodaj novo vlogo
            button.btn.btn-success.ml-3(onclick='openNewRoleModal(1)') Dodaj novo projektno vlogo
          else
            button.btn.btn-success.ml-3(onclick='openNewRoleModal(0)', disabled) Dodaj novo vlogo
            button.btn.btn-success.ml-3(onclick='openNewRoleModal(1)', disabled) Dodaj novo projektno vlogo
      br
      .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
        if(user_type == 'admin' || user_type == 'tajnik' ||user_type == 'vodja')
          br
          .btn-group.btn-group-toggle.mr-2(data-toggle='buttons', aria-label='Active group')
            button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+0+')') Vsi
            button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeActive('+1+')') Aktivni
            button#optionFalse.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+2+')') Neaktivni
      br
      table#employeesTable.display.table.table-hover.table-light.text-center(style='width:100%')
      //MODALNO OKNO DODAJ ZAPOSLENEGA
      #modalAddEmployeeForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Zaposleni
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageAdd
              form#addEmployeeform(role='form', method='post')
                .form-group
                  label(for='user_username', style='width:100%') Uporabniško ime
                    input#user_username.form-control(type='text', name='user_username', required='')
                    .valid-feedback Ta uporabniško ime je prosto
                    .invalid-feedback Ta uporabniško ime je zasedeno, vnesite drugo!
                .form-group
                  label(for='user_name', style='width:100%') Ime 
                    input#user_name.form-control(type='text', name='user_name', required='')
                .form-group
                  label(for='user_surname', style='width:100%') Priimek 
                    input#user_surname.form-control(type='text', name='user_surname', required='')
                .form-group
                  label(for='user_role', style='width:100%') Vloga
                    select#user_role.custom-select.mr-sm-2.form-control.select2-role(name='user_role', style='width:100%')
                .form-group
                  label(for='user_password', style='width:100%') Geslo 
                    input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                .form-group
                  label(for='user_password_again', style='width:100%') Ponovno geslo 
                    input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                    .valid-feedback Gesli se ujemata!
                    .invalid-feedback Gesli se ne ujemata!
                button#btnAddEmployee.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREDI ZAPOSLENEGA
      #modalEditEmployeeForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Zaposleni
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageEdit
              form#editEmployeeform(role='form', method='post')
                .form-group
                  label(for='user_username_edit', style='width:100%') Uporabniško ime
                    input#user_username_edit.form-control(type='text', name='user_username_edit', required='')
                    .valid-feedback Ta uporabniško ime je prosto
                    .invalid-feedback Ta uporabniško ime je zasedeno, vnesite drugo!
                .form-group
                  label(for='user_name_edit', style='width:100%') Ime 
                    input#user_name_edit.form-control(type='text', name='user_name_edit', required='')
                .form-group
                  label(for='user_surname_edit', style='width:100%') Priimek 
                    input#user_surname_edit.form-control(type='text', name='user_surname_edit', required='')
                if(user_type == 'admin' || user_type == 'vodja')
                  .custom-control.custom-checkbox
                    input#activeEdit.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='activeEdit') Uporabnik je aktiven
                button#btnEditEmployee.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJ VLOGO
      #modalAddRoleForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Nova vloga
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addRoleform(role='form', method='post')
                .form-group
                  label(for='addNewRole', style='width:100%') Naziv vloge
                    input#addNewRole.form-control(type='text', name='addNewRole', required='')
                button#btnAddRole.btn.btn-primary(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/employee/employees.min.js')
  //script(type='text/javascript', src='../javascripts/employee/manage.js')
  //script(type='text/javascript', src='../javascripts/changes/employeesChanges.js')