extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Seznam Odzivov
    if(user_type == 'admin')
      if(user_type == 'admin' || user_type == 'vodja')
      br
      table#feedbackTable.display.table.table-hover.table-light(style='width:100%')
      //p= JSON.stringify(projects)
  script(type='text/javascript', src='../javascripts/feedback/manage.js')