doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    //se uporablja povsod
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.min.css')
    //se uporablja tam kjer so skripte (skoraj povsod, login nima)
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //tam kjer imam željo prestaviti modalno okno, so prevelika in prekrijejo pomembne inf
    //script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    //povsod
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    
    //datatables (strani z tabelami)
    //link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
    //script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')
    
    //kjerkoli je opcija pdf (projekti, projekt, zaposleni)
    //script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
    //script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
    
    //povsod kjer ima vojda izbiro pri vnosu na strani
    //link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
    
    //tam kjer so časovnice
    //script(src="/timelines-chart/dist/timelines-chart.min.js")
    block skripte
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      a.navbar-brand(href='/dashboard') 
        strong AZVP
      if user_name
        #navbarColor01.ml-auto
          ul.nav.navbar-nav.nav-flex-icons.ml-auto
            li.nav-item.dropdown
              a#loggedUser.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', style='font-size:15px')= user_name + " "+user_surname+" ("+user_type+")"
              .dropdown-menu(x-placement='bottom-start', style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);')
                if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
                  a.dropdown-item(href='/servis') Servisi
                  a.dropdown-item(href='/projects') Projekti
                  a.dropdown-item(href='/employees') Zaposleni
                  a.dropdown-item(href='/subscribers') Naročniki
                  a.dropdown-item(href='/viz') Vizualizacija
                a.dropdown-item(href='/daily') Danes
                if(user_type != 'info')
                  .dropdown-divider
                  a.dropdown-item(href='/employees/userId?userId='+user_id) Moji projekti
                  a.dropdown-item(href='/employees/tasks?userId='+user_id) Moja opravila
                  a.dropdown-item(href='/employees/absence?id='+user_id) Moje odsotnosti
                if(user_type == 'admin')
                  .dropdown-divider
                  a.dropdown-item(href='/feedback') Odzivi
                .dropdown-divider
                a.dropdown-item(href='/logout') Odjava
    .container
      br
      block content
    footer
      .row
        .col-xs-12
          .ml-4
            small &copy; Klemen Šibal 2019
      //button#feedbackButton.btn.btn-primary.float-right(onclick='sendFeedback()') Odziv
       //MODALNO OKNO ZA FEEDBACK
      //#modalFeedback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Odziv
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#feedback-form(role='form', method='post')
                .form-group
                  label(for='feedback', style='width:100%') Vaš odziv
                    input#feedback.form-control(type='text', name='feedback', required="")
                button#btnFeedback.btn.btn-primary(type='submit') Shrani
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //script(type='text/javascript', src='../javascripts/footbar/feedback.js')
//script(src='/javascripts/jquery-3.3.1.js')
//script(src='/bootstrap/js/bootstrap.min.js')