doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      a.navbar-brand(href='/') 
        strong Roboteh IS
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/projects') Projekti
          li.nav-item
            a.nav-link(href='/employees') Zaposleni
          li.nav-item
            a.nav-link(href='/my') Moji projekti
    .container
      block content
    footer
      .row
        .col-xs-12
          small &copy; Klemen Šibal 2018
script(src='/javascripts/jquery-3.3.1.js')
script(src='/bootstrap/js/bootstrap.min.js')