extends layout

block content
  #banner.page-header
    .row
  .col-sm-6.offset-sm-3.text-center
    h1.display-4 Prijava v Aplikacijo za vodenje projektov
    .col-sm-8.offset-sm-2
      if(message)
        .alert.alert-danger.alert-dismissible.average#kt-limit(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          p=message
    .info-form
      form.form-inlin.justify-content-center(method='post')
        .form-group
          label.sr-only Uporabniško ime
          input.form-control(type='text', name='username', required='', placeholder='Uporabniško ime')
        .form-group
          label.sr-only Geslo
          input.form-control(type='password', name='password', required='', placeholder='Geslo', autocomplete='off')
        button.btn.btn-primary(type='submit') Prijava