extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Pregled mojih projektov
    br
    .row.col-lg-12
      .col-xs-12.col-sm-4
        h5 Končani projekti:
        row.list-group
          a.col-xs-12.list-group-item.list-group-item-action(href='/projects/id')
            .row
              .img-container.col-sm-2
                img.img-fluid(src='/logo/github64.png', alt='ikona')
              .col-sm-10 Projekt A
      .col-xs-12.col-sm-8
        h5 Projekti v teku:
        row.list-group
          a.col-xs-12.list-group-item.list-group-item-action(href='/projects/id')
            .row
              .img-container.col-sm-2
                img.img-fluid(src='/logo/pepsi64.png', alt='ikona')
              .col-sm-10 Projekt B
          row.list-group
          a.col-xs-12.list-group-item.list-group-item-action(href='/projects/id')
            .row
              .img-container.col-sm-2
                img.img-fluid(src='/logo/google64.png', alt='ikona')
              .col-sm-10 Projekt C