extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Pregled projekta
    if(present || user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
      .row.col-lg-11
        .col-lg-2
          if(project.icon)
            img#subImg.col-lg-12.col-xs-12(src='/uploads/images/'+project.icon+'' alt='slikaPodjetja')
          else
            img#subImg.col-lg-12.col-xs-12(src='/logo/roboteh.png' alt='slikaPodjetja')
        .col-lg-8
          h5#pinfo_name.col-lg-8= project.project_name
          label#pinfo_number.col-8= project.project_number
          if(project.start && project.finish)
            label#pinfo_date.col-8= project.formatted_start.date + " - " + project.formatted_finish.date
          else
            label#pinfo_date.col-8
          label#pinfo_subscriber.col-8= project.name
          if(user_type == 'admin' || user_type == 'vodja')
            .col-lg-2
              button.btn.btn-primary(onclick='openEditProjectModal('+projectId+')') Uredi Projekt
        .col-lg-2
          button.btn.btn-info(onclick='openPDFModal()') PDF
      br
      .row.col-lg-12
        h5 Opombe
      #pinfo_notes.col-lg-10
      br
      .row.col-lg-12
        //a#btnCollapseTask.btn.btn-primary.mr-2.active(data-toggle='collapse', href='#collapseTableTask', role='button', aria-expanded='false', aria-controls='collapseTableTask') Opravila
        //a#btnCollapseFile.btn.btn-primary(data-toggle='collapse', href='#collapseFileTab', role='button', aria-expanded='false', aria-controls='collapseFileTab') Datoteke
        button#btnCollapseTask.btn.btn-primary.mr-2.active(onclick='toggleTaskCollapse()') Opravila
        if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik' || user_type == 'nabavnik' || user_type == 'komercialist' || user_type == 'komercijalist')
          button#btnCollapseFile.btn.btn-primary(onclick='toggleFileCollapse()') Datoteke
      .row
        .col
          #collapseTableTask.collapse.multi-collapse.show
            .card.card-body
              .row
                h5 Opravila
              .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
                .btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
                  button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+0+')') Vsa
                  button#option2.btn.btn-purchase(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+2+')') Nabava
                  button#option3.btn.btn-construction(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+3+')') Konstrukcija
                  button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+4+')') Strojna izdelava
                  button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+5+')') Elektro izdelava
                  button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+6+')') Montaža
                  button#option7.btn.btn-programmer(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+7+')') Programiranje
                  button#option1.btn.btn-dark(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+1+')') Brez
                if(user_type == 'admin' || user_type == 'vodja')
                  br
                  .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active group')
                    button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+0+')') Vsa
                    button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeActive('+1+')') Aktivna
                    button#optionFalse.btn.btn-secondary(type='radio', name='options', autocomplete='off', onclick='changeActive('+2+')') Neaktivna
              br
              table#tableTasks.display.table.table-hover.table-light(style='width:100%')
              #addTaskRow
                if(user_type == 'admin' || user_type == 'vodja' || leader)
                  .text-center
                    button.btn.btn-success(onclick='openAddTaskModal()') Dodaj opravilo
          #collapseFileTab.collapse.multi-collapse
            .card.card-body
              .row
                h5 Datoteke
              if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik' || user_type == 'nabavnik' || user_type == 'komercialist' || user_type == 'komercijalist')
                br
                #fileList.list-group.span4
                  each file in files
                    .list-group-item(id=file.id)
                      .row
                        .col-sm-2
                          img.img-fluid(src='/file'+file.type+'.png', alt='ikona', style='width:70px')
                        .col-sm-9
                          label.row.mt-2= file.original_name
                          label.row.mt-2(style='font-size:12px')= 'Naloženo: '+file.formatted_date.date+' ob '+file.formatted_date.time+'    Avtor: '+file.name+' '+file.surname
                        .col-sm-1
                          if(file.active)
                            a.btn.btn-primary.mt-3(href='/sendMeDoc?filename='+file.path_name+'&projectId='+projectId) Prenos
                          else
                            a.btn.btn-primary.mt-3.disabled(href='') Prenos
                br
                #addFileRow
                  if(user_type == 'admin' || user_type == 'vodja' || user_type == 'nabavnik' || user_type == 'tajnik' || user_type == 'komercijalist')
                    .text-center
                      button.btn.btn-success(onclick='newDocumentModal()') Dodaj datoteko
      br
      .row.col-lg-12
        a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
      .row
        .col
          #collapseTimetable.collapse.multi-collapse
            .card.card-body
              h5 Časovnica
              #myPlot
      //MODALNO OKNO DODAJ OPRAVILO
      #modalAddTaskForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageAdd
              form#addTaskform(role='form', method='post')
                .form-group
                  label(for='task_name', style='width:100%') Ime opravila
                    input#task_name.form-control(type='text', name='task_name', required='')
                .form-group
                  label(for='duration', style='width:100%') Število dni
                    input#duration.form-control(type='number', name='duration', min='0')
                .form-group
                  label(for='start', style='width:100%') Začetek opravila
                    input#start.form-control(type='date', name='start')
                    .valid-feedback Začetek opravila je po začetku projekta
                    .invalid-feedback Začetek opravila je pred začetkom projekta!
                .form-group
                  label(for='finish', style='width:100%') Konec opravila
                    input#finish.form-control(type='date', name='finish')
                    .valid-feedback Konec opravila je pred koncem projekta
                    .invalid-feedback Konec opravila je po koncu projekta!
                .form-group
                  label(for='assignment', style='width:100%') Dodeli opravilo
                    select#assignment.custom-select.mr-sm-2.form-control.select2-workersAdd(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='category', style='width:100%') Kategorija
                    select#category.custom-select.mr-sm-2.form-control.select2-categoryAdd(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='priority', style='width:100%') Prioriteta
                    select#priority.custom-select.mr-sm-2.form-control.select2-priorityAdd(name='worker', disabled=disabled, style='width:100%')
                button#btnAddTask.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREDI OPRAVILO
      #modalUpdateTaskForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageEdit
              form#updateTask_form(role='form', method='post')
                .form-group
                  label(for='task_nameEdit', style='width:100%') Ime opravila
                    input#task_nameEdit.form-control(type='text', name='task_nameEdit', required='')
                .form-group
                  label(for='durationEdit', style='width:100%') Število dni
                    input#durationEdit.form-control(type='number', name='durationEdit', min='0')
                .form-group
                  label(for='startEdit', style='width:100%') Začetek opravila
                    input#startEdit.form-control(type='date', name='startEdit')
                    .valid-feedback Začetek opravila je po začetku projekta
                    .invalid-feedback Začetek opravila je pred začetkom projekta!
                .form-group
                  label(for='finishEdit', style='width:100%') Konec opravila
                    input#finishEdit.form-control(type='date', name='finishEdit')
                    .valid-feedback Konec opravila je pred koncem projekta
                    .invalid-feedback Konec opravila je po koncu projekta!
                .form-group
                  label(for='completionEdit', style='width:100%') Dokončano
                    input#completionEdit.form-control(type='number', name='completionEdit', min='0', max='100', required='')
                .form-group
                  label(for='assignmentEdit', style='width:100%') Dodeli opravilo
                    select#assignmentEdit.custom-select.mr-sm-2.form-control.select2-workersEdit(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='categoryEdit', style='width:100%') Kategorija
                    select#categoryEdit.custom-select.mr-sm-2.form-control.select2-categoryEdit(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='priorityEdit', style='width:100%') Prioriteta
                    select#priorityEdit.custom-select.mr-sm-2.form-control.select2-priorityEdit(name='worker', disabled=disabled, style='width:100%')
                if(user_type == 'admin' || user_type == 'vodja')
                  //.form-check
                    input#activeEdit.form-check-input(type='checkbox', value='')
                    label.form-check-label(for='activeEdit')
                      | Opravilo je aktivno
                  .custom-control.custom-checkbox
                    input#activeEdit.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='activeEdit') Opravilo je aktivno
                br
                button#btnUpdateTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      br
      .row
        h5 Zaposleni na projektu
        .col-xs-12.col-sm-12.text-center
          table#tableWorkers.display.table.table-hover.table-light(style='width:100%')
      br
      if(user_type == 'vodja' || user_type == 'admin')
        .col-md-12.text-center
          //a.btn.btn-primary(href='/projects/addworker/id?id='+projectId) Dodaj delavca
          button.btn.btn-success(onclick='openWorkerModal()') Dodaj delavca
      br
      br
      //#myPlot
      //MODALNO OKNO DODAJ DELAVCA
      #modalAddWorker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj delavca
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addWorkerform(role='form', method='post')
                .form-group
                  label(for='userAdd', style='width:100%') Uporabnik
                    select#userAdd.custom-select.mr-sm-2.form-control.select2-users(name='userAdd', style='width:100%')
                .form-group
                  label(for='roleAdd', style='width:100%') Vloga
                    select#roleAdd.custom-select.mr-sm-2.form-control.select2-roles(name='roleAdd', style='width:100%')
                button#btnAddWorker.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREDI PROJEKT
      #modalEditProjectForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Projekt
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#editProjectform(role='form', method='post')
                .form-group
                  label(for='project_number', style='width:100%') Številka projekta
                    input#project_number.form-control(type='text', name='project_number', required='')
                    .valid-feedback Ta številka je še prosta
                    .invalid-feedback Ta številka je že zasedena, vnesite drugo!
                .form-group
                  label(for='project_name', style='width:100%') Ime projekta
                    input#project_name.form-control(type='text', name='project_name', required='')
                .form-group
                  label(for='project_subscriber', style='width:100%') Naročnik
                    select#project_subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='project_subscriber', style='width:100%')
                .form-group
                  label(for='project_start', style='width:100%') Začetek projekta
                    input#project_start.form-control(type='date', name='project_start')
                .form-group
                  label(for='project_finish', style='width:100%') Konec projekta
                    input#project_finish.form-control(type='date', name='project_finish')
                .form-group
                  label(for='project_notes', style='width:100%') Opombe
                    input#project_notes.form-control(type='text', name='project_notes')
                if(user_type == 'admin' || user_type == 'vodja')
                  .custom-control.custom-checkbox
                    input#project_active.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='project_active') Projekt je aktiven
                button#btnEditProject.btn.btn-primary(type='submit') Uredi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA DELAVCE - samo procent opravila
      #modalCompletionForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#completion-form(role='form', method='post')
                .form-group
                  label(for='completionPost', style='width:100%') Opravljen delež opravila
                    input#completionPost.form-control(type='number', name='completionPost', min='0', max='100', required="")
                button#btnCompletionTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA NALOGE
      #modalSubtasksForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Naloge
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .subtask-body.span4
                #subtaskList.list-group.d-flex
                  row.d-flex.list-group-item(id=1)
                    label.p-1(style='width:70%') Novo opravilo ki je malo daljše samo zato da lahko preverim kako deluje style in če ne bo dost dolgo bom to besedilo podaljšal magari tudi za dve vrstici
                    .custom-control.custom-checkbox
                      input#customCheck1.custom-control-input(type='checkbox', checked='', onchange="toggleSubtaskCheckbox(this)")
                      label.custom-control-label(for='customCheck1') 
                    a.mypopover.p-1.mr-1.mt-2(href='#', data-toggle='popover', data-trigger='hover', data-content='test1', style='height:30px')
                      img.img-fluid(src='/info.png', alt='ikona' style='width:25px')
                    button.invisible-button.mr-1.mt-2(onclick="addSubtaskNote('+data+')")
                      img.img-fluid(src='/note-52.png', alt='ikona' style='width:25px')
                    button.btn.btn-danger.task-button.mr-2.mt-1(onclick="deleteSubtask('+data+')", style='width:25px, height:5px, border:none') X
              if(user_type == 'admin' || user_type == 'vodja')
                form#subtasks-form(role='form', method='post')  
                  .d-flex
                    input#subtaskInput.form-control.p-1.mr-auto(type='text', name='subtaskInput' required="")
                    button#btnSubtasks.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA ODSOTNOSTI
      #modalAbsenceForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Odsotnosti
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .span5
                #absenceList.list-group.d-flex.ml-3.mr-3
                  #84.list-group-item
                    .row
                      .col-md-3.mt-2
                        label Bolek Žolek
                      .col-md-4.mt-2
                        label 15.01.2019 - 20.01.2019
                      .col-md-3.mt-2
                        label Dopust
                      .col-md-2
                        button.btn.btn-danger(onclick='deleteAbsence(86)', style='width:25px, height:5px, border:none;') X
              br
              #addAbsenceRow
                .text-center
                  button.btn.btn-success(onclick='newAbsenceModal()') Dodaj odostnost
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJ ODSOTNOSTI
      #modalAddAbsenceForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj odsotnost
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addAbsenceForm(role='form', method='post')
                .form-group
                  label(for='absenceWorker', style='width:100%') Delavec
                    select#absenceWorker.custom-select.mr-sm-2.form-control.select2-absence-workers(name='absenceWorker', style='width:100%')
                .form-group
                  label(for='absenceReason', style='width:100%') Razlog
                    select#absenceReason.custom-select.mr-sm-2.form-control.select2-absence-reasons(name='absenceReason', style='width:100%')
                .form-group
                  label(for='absenceStart', style='width:100%') Začetek odsotnosti
                    input#absenceStart.form-control(type='date', name='absenceStart', required="")
                .form-group
                  label(for='absenceFinish', style='width:100%') Konec odsotnosti
                    input#absenceFinish.form-control(type='date', name='absenceFinish', required="")
                button#btnAddAbsence.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA DATOTEKE OPRAVILA
      #modalTaskFilesForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Datoteke
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .span5
                #taskFileList.list-group
                  #taskFile16.list-group-item
                    .row
                      .col-sm-2.mt-3
                        img.img-fluid(src='/filePDF.png', alt='ikona', style='width:70px;')
                      .col-sm-7
                        label.row.mt-2 Projekt Čisto novi projekt.pdf
                        label.row.mt-2(style='font-size:12px;') Naloženo: 08.07.2019 ob 12:51
                        label.row.mt-2(style='font-size:12px;') Avtor: Janez Novak
                      .col-sm-3
                        a.btn.btn-primary.mt-3(href='/sendMeDoc?filename=1562583069975-Projekt Čisto novi projekt.pdf&projectId=56') Prenos
              br
              #addTaskFileRow
                .text-center
                  button.btn.btn-success(onclick='newTaskDocumentModal()') Dodaj datoteko
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJANJE DOKUMENTA ZA OPRAVILA
      #modalTaskDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addTaskDocForm(action='/projects/taskFileUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  input#projectIdTaskFile.form-control(type='text', name='projectIdTaskFile', readonly='', hidden='' value=projectId)
                .form-group
                  input#taskIdTaskFile.form-control(type='text', name='taskIdTaskFile', readonly='', hidden='' value='')
                .form-group
                  input(type='file', name='docNew')
                  small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls ter slike.
                .text-center
                  button#btnAddTaskDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA PDF
      #modalPDFForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.text-center.d-flex.justify-content-between
              .p-1
              h4.modal-title.w-100.font-weight-bold.p-1 Ustvari PDF
              button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .card-border-secondary
                .card-header Informacije o projektu
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxLogo.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxLogo') Logotip
                    .custom-control.custom-checkbox
                      input#checkboxProjectName.custom-control-input.p-1(type='checkbox', checked='', disabled='')
                      label.custom-control-label(for='checkboxProjectName') Ime projekta
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-date
                      input#checkboxDate.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxDate') Datum projekta
                    .custom-control.custom-checkbox.checkbox-number
                      input#checkboxProjectNumber.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProjectNumber') Številka projekta
              .card-border-secondary
                .card-header Delavci na projektu
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxVodja.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxVodja') Vodja
                    .custom-control.custom-checkbox
                      input#checkboxKons.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxKons') Konstrukter
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-mechanic
                      input#checkboxStro.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxStro') Strojnik
                    .custom-control.custom-checkbox.checkbox-electrican
                      input#checkboxElek.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxElek') Električar
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-kuka
                      input#checkboxKuka.custom-control-input(type='checkbox')
                      label.custom-control-label(for='checkboxKuka') Kuka
                    .custom-control.custom-checkbox.checkbox-plc
                      input#checkboxPlc.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxPlc') Plc
              .card-border-secondary
                .card-header Kategorije
                .card-body   
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxNabava.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxNabava') Nabava
                    .custom-control.custom-checkbox
                      input#checkboxKonstrukcija.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKonstrukcija') Konstrukcija
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-mechanic-prod
                      input#checkboxStrIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStrIzd') Strojna izdelava
                    .custom-control.custom-checkbox.checkbox-electric-prod
                      input#checkboxEleIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleIzd') Elektro izdelava
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-assembly
                      input#checkboxMontaza.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxMontaza') Montaža
                    .custom-control.custom-checkbox.checkbox-prog
                      input#checkboxProg.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProg') Programiranje
                  .d-flex.justify-content-center
                    .custom-control.custom-checkbox
                      input#checkboxBrez.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxBrez') Brez
              .card-border-secondary
                .card-header Stil tabel
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-radio
                      input#radioObrobe.custom-control-input(type='radio', name='customRadio', checked='')
                      label.custom-control-label(for='radioObrobe') Obrobe
                    .custom-control.custom-radio
                      input#radioCrte.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='radioCrte') Črte
                    .custom-control.custom-radio
                      input#radioBrez.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='radioBrez') Brez
              .d-flex.justify-content-center
                button.btn.btn-primary(onclick='toPDF()') PDF
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K NALOGI
      #modalNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#note-form(role='form', method='post')  
                .d-flex
                  input#noteInput.form-control.p-1.mr-auto(type='text', name='noteInput' required="")
                  button#btnNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K OPRAVILU
      #modalTaskNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#taskNote-form(role='form', method='post')  
                .d-flex
                  input#taskNoteInput.form-control.p-1.mr-auto(type='text', name='taskNoteInput' required="")
                  button#btnTaskNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJANJE DOKUMENTA
      #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addDocForm(action='/projects/fileUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  input#projectIdFile.form-control(type='text', name='projectIdFile', readonly='', hidden='' value=projectId)
                .form-group
                  input(type='file', name='docNew')
                  small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls ter slike.
                .text-center
                  button#btnAddDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO ZA SPOROČILO
      #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Obvestilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              row.d-flex
                .mr-auto(style='width:30%;')
                  if(type == 1)
                    img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                  else if(type == 2)
                    img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                  else
                    img#msgImg.img-fluid(src='/info.png', alt='ikona')
                .ml-auto.mt-5
                  h5#msg= msg
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
      //p= JSON.stringify(files)
      //p= JSON.stringify(present)
      //p= JSON.stringify(tasks)
      //p= JSON.stringify(workerTasks)
      //p= JSON.stringify(projectId)¸
  //script(src='/javascripts/jquery-3.3.1.js')
  //script(type='text/javascript', src='../javascripts/project/project.min.js')
  script(type='text/javascript', src='../javascripts/project/project.js')
  script(type='text/javascript', src='../javascripts/project/viz.js')
  script(type='text/javascript', src='../javascripts/changes/projectChanges.js')
  script(type='text/javascript', src='../javascripts/project/files.js')