extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Seznam projektov
    if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      if(user_type == 'admin' || user_type == 'vodja')
        //.row
          a.btnAddProject.btn.btn-primary(href='/projects/add') Dodaj
        //br
        .row
          input.btnAddProject.btnadd.btn.btn-success(type='button', value='Dodaj projekt')
      br
      .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
        if(user_type == 'admin' || user_type == 'vodja')
          br
          .btn-group.btn-group-toggle.mr-2(data-toggle='buttons', aria-label='Active group')
            button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+0+')') Vsi
            button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeActive('+1+')') Aktivni
            button#optionFalse.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+2+')') Neaktivni
      br
      table#projectsTable.display.table.table-hover.table-light(style='width:100%')
      br
      .row.col-lg-12
        a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
      .row
        .col
          #collapseTimetable.collapse.multi-collapse
            .card.card-body
              h5 Časovnica
              #myPlot
      //p= JSON.stringify(projects)
      //MODALNO OKNO DODAJ PROJEKT
      #modalAddProjectForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Projekt
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageAdd
              form#addProjectform(role='form', method='post')
                .form-group
                  label(for='project_number', style='width:100%') Številka projekta
                    input#project_number.form-control(type='text', name='project_number', required='')
                    .valid-feedback Ta številka je še prosta
                    .invalid-feedback Ta številka je že zasedena, vnesite drugo!
                .form-group
                  label(for='project_name', style='width:100%') Ime projekta
                    input#project_name.form-control(type='text', name='project_name', required='')
                //.form-group
                  label(for='project_subscriber') Naročnik
                    select#project_subscriber.custom-select.mr-sm-2.form-control(name='project_subscriber', disabled=disabled)
                .form-group
                  label(for='project_subscriber', style='width:100%') Naročnik
                    select#project_subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='project_subscriber', style='width:100%')
                .form-group
                  label(for='project_start', style='width:100%') Začetek projekta
                    input#project_start.form-control(type='date', name='project_start')
                .form-group
                  label(for='project_finish', style='width:100%') Konec projekta
                    input#project_finish.form-control(type='date', name='project_finish')
                .form-group
                  label(for='project_notes', style='width:100%') Opombe
                    input#project_notes.form-control(type='text', name='project_notes')
                button#btnAddProject.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREDI PROJEKT
      #modalEditProjectForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Projekt
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageEdit
              form#editProjectform(role='form', method='post')
                .form-group
                  label(for='project_number_edit', style='width:100%') Številka projekta
                    input#project_number_edit.form-control(type='text', name='project_number_edit', required='')
                    .valid-feedback Ta številka je še prosta
                    .invalid-feedback Ta številka je že zasedena, vnesite drugo!
                .form-group
                  label(for='project_name_edit', style='width:100%') Ime projekta
                    input#project_name_edit.form-control(type='text', name='project_name_edit', required='')
                .form-group
                  label(for='project_subscriber_edit', style='width:100%') Naročnik
                    select#project_subscriber_edit.custom-select.mr-sm-2.form-control.select2-subscriber-edit(name='project_subscriber_edit', style='width:100%')
                .form-group
                  label(for='project_start_edit', style='width:100%') Začetek projekta
                    input#project_start_edit.form-control(type='date', name='project_start_edit')
                .form-group
                  label(for='project_finish_edit', style='width:100%') Konec projekta
                    input#project_finish_edit.form-control(type='date', name='project_finish_edit')
                .form-group
                  label(for='project_notes_edit', style='width:100%') Opombe
                    input#project_notes_edit.form-control(type='text', name='project_notes_edit')
                if(user_type == 'admin' || user_type == 'vodja')
                  .custom-control.custom-checkbox
                    input#activeEdit.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='activeEdit') Projekt je aktiven
                button#btnEditProject.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/project/projects.min.js')
  //script(type='text/javascript', src='../javascripts/project/projects.js')