extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //pdfmake
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Pregled projekta
    if(present || user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
      .row.col-lg-11
        .col-lg-2
          if(project.icon)
            img#subImg.col-lg-12.col-xs-12(src='/uploads/images/'+project.icon+'' alt='slikaPodjetja' style='width:135px')
          else
            img#subImg.col-lg-12.col-xs-12(src='/logo/roboteh.png' alt='slikaPodjetja')
        .col-lg-8
          h5#pinfo_name.col-lg-8= project.project_name
          label#pinfo_number.col-8= project.project_number
          if(project.start && project.finish)
            label#pinfo_date.col-8= project.formatted_start.date + " - " + project.formatted_finish.date
          else if (project.start)
            label#pinfo_date.col-8= project.formatted_start.date + " - /"
          else if (project.finish)
            label#pinfo_date.col-8= "/ - " + project.formatted_finish.date
          else
            label#pinfo_date.col-8 / - /
          label#pinfo_subscriber.col-8= project.name
      if(user_type == 'admin' || user_type == 'vodja' || leader)
        .row
          .col-4.col-sm-11
            button.btn.btn-primary(onclick='editProjectCollapse('+projectId+')') Uredi Projekt
          .col-2.col-sm-1
            button.btn.btn-info(onclick='openPDFModal()') PDF
      else
        .col-2.col-sm-1
          button.btn.btn-info(onclick='openPDFModal()') PDF
      br
      if(user_type == 'admin' || user_type == 'vodja' || leader)
        //Collapse za urejanje projekta
        #collapseEditProject.collapse.multi-collapse
          form#editProjectform.text-center(role='form', method='post')
            .row
              .col-md-6
                .form-group
                  label(for='project_number', style='width:100%') Številka projekta
                    input#project_number.form-control(type='text', name='project_number', required='')
                    .valid-feedback Ta številka je še prosta
                    .invalid-feedback Ta številka je že zasedena, vnesite drugo!
              .col-md-6
                .form-group
                  label(for='project_name', style='width:100%') Ime projekta
                    input#project_name.form-control(type='text', name='project_name', required='')
            .row
              .col-md-6
                .form-group
                  label(for='project_start', style='width:100%') Začetek projekta
                    input#project_start.form-control(type='date', name='project_start')
              .col-md-6
                .form-group
                  label(for='project_finish', style='width:100%') Konec projekta
                    input#project_finish.form-control(type='date', name='project_finish')
            .row
              .col-md-6
                .form-group
                  label(for='project_subscriber', style='width:100%') Naročnik
                    select#project_subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='project_subscriber', style='width:100%')
              .col-md-6
                .form-group
                  label(for='project_notes', style='width:100%') Opombe
                    input#project_notes.form-control(type='text', name='project_notes')
            .text-center
              button#btnEditProject.btn.btn-success(type='submit') Posodobi
      .row.col-lg-12
        h5 Opombe
      #pinfo_notes.col-lg-10= project.notes
      br
      .row.col-lg-12
        //a#btnCollapseTask.btn.btn-primary.mr-2.active(data-toggle='collapse', href='#collapseTableTask', role='button', aria-expanded='false', aria-controls='collapseTableTask') Opravila
        //a#btnCollapseFile.btn.btn-primary(data-toggle='collapse', href='#collapseFileTab', role='button', aria-expanded='false', aria-controls='collapseFileTab') Datoteke
        button#btnCollapseTask.btn.btn-primary.mr-2.active(onclick='toggleTaskCollapse()') Opravila
        if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik' || user_type == 'nabavnik' || user_type == 'komercialist' || user_type == 'komercijalist' || leader)
          button#btnCollapseFile.btn.btn-primary(onclick='toggleFileCollapse()') Datoteke
      .row
        .col
          #collapseTableTask.collapse.multi-collapse.show
            br
            .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
              .btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
                button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+0+')') Vsa
                button#option2.btn.btn-purchase(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+2+')') Nabava
                button#option3.btn.btn-construction(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+3+')') Konstrukcija
                button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+4+')') Strojna izdelava
                button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+5+')') Elektro izdelava
                button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+6+')') Montaža
                button#option7.btn.btn-programmer(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+7+')') Programiranje
                button#option1.btn.btn-dark(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+1+')') Brez
              .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Completion group')
                button#optionAllCompletion.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeCompletion('+0+')') Vsa
                button#optionUncomplete.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeCompletion('+1+')') Nekončana
                button#optionComplete.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeCompletion('+2+')') Končana
              if(user_type == 'admin')
                br
                .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active group')
                  button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+0+')') Vsa
                  button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeActive('+1+')') Aktivna
                  button#optionFalse.btn.btn-secondary(type='radio', name='options', autocomplete='off', onclick='changeActive('+2+')') Neaktivna
            br
            script.
              var leader = #{JSON.stringify(leader)}
            //add tasks here
            #taskList.list-group
              each task in tasks
                -
                  var myClass = 'list-group-item';
                  if(task.priority == 'visoka')
                    myClass = 'list-group-item border-high-priority'
                  else if(task.priority == 'srednja')
                    myClass = 'list-group-item border-medium-priority'
                  else if(task.priority == 'nizka')
                    myClass = 'list-group-item border-low-priority'
                  var workersArray = [];
                  if(task.workers_id)
                    workersArray = task.workers_id.split(",");
                  var tmp = workersArray.find(w => w == user_id)
                  var myTask = false;
                  if(tmp)
                    myTask = true;
                  if(leader)
                    testLeader = true;
                  data = !{leader};
                div(id='task'+task.id, class=myClass)
                  .row
                    .col-md-6
                      div(id='taskName'+task.id)= task.task_name
                    .col-md-6.d-flex
                      .custom-control.custom-checkbox.table-custom-checkbox(id='taskCheckbox'+task.id)
                        if(!task.subtask_count)
                          if(user_type == 'admin' || user_type == 'vodja' || leader || myTask)
                            if(task.completion == 100)
                                input.custom-control-input(id='customTaskCheck'+task.id, type='checkbox', checked='', onchange='toggleTaskCheckbox(this)')
                                label.custom-control-label(for='customTaskCheck'+task.id)
                            else
                                input.custom-control-input(id='customTaskCheck'+task.id, type='checkbox', onchange='toggleTaskCheckbox(this)')
                                label.custom-control-label(for='customTaskCheck'+task.id)  
                      if(user_type == 'admin' || user_type == 'vodja' || leader || myTask)
                        a.taskpopover.ml-auto( data-toggle='popover', data-trigger='hover', data-content=task.task_note, style='height:30px;')
                          img.img-fluid(src='/info.png', alt='ikona', style='width:25px;')
                        button.invisible-button.ml-2(onclick='addTaskNote('+task.id+')')
                          img.img-fluid(src='/note-52.png', alt='ikona', style='width:25px;')
                      else
                        a.taskpopover.ml-auto( data-toggle='popover', data-trigger='hover', data-content='', style='height:30px;')
                          img.img-fluid(src='/info.png', alt='ikona', style='width:25px;')
                        button.invisible-button.ml-2(onclick='addTaskNote('+task.id+')', disabled)
                          img.img-fluid(src='/note-52.png', alt='ikona', style='width:25px;')
                      .ml-2(id='taskInfo'+task.id) 
                        if(task.workers)
                          a.workerspopover(data-toggle='popover', data-trigger='hover', data-content=task.workers)
                            img.img-fluid(src='/employees.png', alt='ikona' style='width:25px')
                        else
                          a.workerspopover(data-toggle='popover', data-trigger='hover', data-content='')
                            img.img-fluid(src='/employees.png', alt='ikona' style='width:25px')
                      .progress.ml-2(style='width:70%')
                        .progress-bar(style='width:'+task.completion+'%', id='taskProgress'+task.id)
                  .row
                    .col-md-7.d-flex
                      if(task.formatted_start && task.formatted_finish)
                        div(id='taskDate'+task.id)= task.formatted_start.date + " - " + task.formatted_finish.date 
                      else if(task.formatted_start)
                        div(id='taskDate'+task.id)= task.formatted_start.date + " - /"
                      else if(task.formatted_finish)
                        div(id='taskDate'+task.id)= "/ - " + task.formatted_finish.date
                      else
                        div(id='taskDate'+task.id) /
                      div(id='taskBadges'+task.id)
                        if(task.category == 'Nabava')
                          span.badge.badge-pill.badge-purchase.ml-2 NABAVA
                        else if(task.category == 'Konstrukcija')
                          span.badge.badge-pill.badge-construction.ml-2 KONSTRUKCIJA
                        else if(task.category == 'Strojna izdelava')
                          span.badge.badge-pill.badge-mechanic.ml-2 STROJNA IZDELAVA
                        else if(task.category == 'Elektro izdelava')
                          span.badge.badge-pill.badge-electrican.ml-2 ELEKTRO IZDELAVA
                        else if(task.category == 'Montaža')
                          span.badge.badge-pill.badge-assembly.ml-2 MONTAŽA
                        else if(task.category == 'Programiranje')
                          span.badge.badge-pill.badge-programmer.ml-2 PROGRAMIRANJE
                    .col-md-5.d-flex
                      div(id='taskButtons'+task.id).ml-auto
                        if(user_type == 'admin' || user_type == 'vodja' || myTask || leader)
                          if(user_type == 'admin' || user_type == 'vodja' || leader)
                            button.btn.btn-danger.ml-2(onclick='deleteTask('+task.id+')', style='width:25px, height:5px, border:none;', id='taskButtonDelete'+task.id)
                              img.img-fluid(src='/remove.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odstrani")
                          if(task.workers && task.formatted_start && task.formatted_finish)
                            if((task.full_absence_count || task.task_absence_count) && (task.full_absence_count > 0 || task.task_absence_count > 0))
                              button.btn.btn-programmer.ml-2(onclick='toggleCollapse('+task.id+', 3)', style='width:25px, height:5px, border:none;', id='taskButtonAbsence'+task.id)
                                img.img-fluid(src='/absenceBlack.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odsotnosti")
                            else
                              button.btn.btn-programmer.ml-2(onclick='toggleCollapse('+task.id+', 3)', style='width:25px, height:5px, border:none;', id='taskButtonAbsence'+task.id)
                                img.img-fluid(src='/absenceWhite.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odsotnosti")
                          else
                            button.btn.btn-programmer.ml-2(onclick='toggleCollapse('+task.id+', 3)', style='width:25px, height:5px, border:none;' disabled, id='taskButtonAbsence'+task.id)
                              img.img-fluid(src='/absenceWhite.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odsotnosti")
                          if(task.files_count && task.files_count > 0)
                            button.btn.btn-purchase.ml-2(onclick='toggleCollapse('+task.id+', 2)', style='width:25px, height:5px, border:none;', id='taskButtonFile'+task.id)
                              img.img-fluid(src='/filesBlack01.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Datoteke")
                          else
                            button.btn.btn-purchase.ml-2(onclick='toggleCollapse('+task.id+', 2)', style='width:25px, height:5px, border:none;', id='taskButtonFile'+task.id)
                              img.img-fluid(src='/filesWhite01.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Datoteke")
                          if(task.subtask_count && task.subtask_count > 0)
                            button.btn.btn-info.ml-2(onclick='toggleCollapse('+task.id+', 1)', style='width:25px, height:5px, border:none;', id='taskButtonSubtask'+task.id)
                              img.img-fluid(src='/subtaskBlack.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Naloge")
                          else
                            button.btn.btn-info.ml-2(onclick='toggleCollapse('+task.id+', 1)', style='width:25px, height:5px, border:none;', id='taskButtonSubtask'+task.id)
                              img.img-fluid(src='/subtaskWhite.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Naloge")
                          if(user_type == 'admin' || user_type == 'vodja' || leader)
                            button.btn.btn-primary.ml-2(onclick='toggleCollapse('+task.id+', 0)', style='width:25px, height:5px, border:none;', id='taskButtonEdit'+task.id)
                                img.img-fluid(src='/edit.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Uredi")
                  .collapse.multi-collapse.task-collapse(id='collapseEditTask'+task.id)
                  .collapse.multi-collapse.task-collapse(id='collapseSubtasks'+task.id)
                  .collapse.multi-collapse.task-collapse(id='collapseTaskFiles'+task.id)
                  .collapse.multi-collapse.task-collapse(id='collapseTaskAbsence'+task.id)
            //pagination
            - var n = 2;
            #taskPages.d-flex.justify-content-end.mt-2
              ul.pagination.pagination-sm
                li#pagePrev.page-item.disabled
                  a.page-link(onclick='changePage("prev")') «
                li#page1.page-item.active
                  a.page-link(onclick='changePage(1)') 1
                while n <= pages
                  li.page-item(id='page'+n)
                    a.page-link(onclick='changePage('+n+')')= n++
                if(pages == 1)
                  li#pageNext.page-item.disabled
                    a.page-link(onclick='changePage("next")') »
                else
                  li#pageNext.page-item
                    a.page-link(onclick='changePage("next")') »
            #addTaskRow
              if(user_type == 'admin' || user_type == 'vodja' || leader)
                .multi-collapse.collapse(id='collapseAddTask')
                  .row.d-flex.justify-content-end
                    button.close.mr-4(type='button', aria-label='Close', onclick='closeCollapseAddTask()')
                      span(aria-label='true') x
                  form#editTaskform(role='form', method='post', data-select2-id='editTaskform')
                    .form-row
                      .col-md-6
                        .form-group
                          label(for='taskNameAdd', style='width:100%;') Ime opravila
                            input#taskNameAdd.form-control(type='text', name='taskNameAdd', required='')
                            .invalid-feedback Za dodajanje novega opravila je potrebno vnesti vsaj ime opravila!
                      .col-md-6
                        .form-group
                          label(for='taskDurationAdd', style='width:100%;') Število dni
                            input#taskDurationAdd.form-control(type='number', name='taskDurationAdd', min='0', tabindex='-1', placeholder='Se izračuna samo po vnosu obeh datumov.', disabled)
                    .form-row
                      .col-md-6
                        .form-group
                          label(for='taskStartAdd', style='width:100%;') Začetek opravila
                            input#taskStartAdd.form-control(type='date', name='taskStartAdd')
                            .valid-feedback Začetek opravila je znotraj datuma projekta.
                            .invalid-feedback Začetek opravila je izven datuma projekta!
                      .col-md-6
                        .form-group
                          label(for='taskFinishAdd', style='width:100%;') Konec opravila
                            input#taskFinishAdd.form-control(type='date', name='taskFinishAdd')
                            .valid-feedback Konec opravila je znotraj datuma projekta.
                            .invalid-feedback Konec opravila je izven datuma projekta!
                    .form-row
                      .col-md-6
                        .form-group
                          label(for='taskCompletionAdd', style='width:100%;') Dokončano
                            input#taskCompletionAdd.form-control(type='number', name='taskCompletionAdd', min='0', max='100', required='', value=0)
                      .col-md-6
                        .form-group
                          label(for='taskAssignmentAdd', style='width:100%;') Dodeli opravilo
                            select#taskAssignmentAdd.custom-select.mr-sm-2.form-control.select2-workersAdd(name='worker', style='width:100%;')
                    .form-row
                      .col-md-6
                        .form-group
                          label(for='taskCategoryAdd', style='width:100%;') Kategorija
                            select#taskCategoryAdd.custom-select.mr-sm-2.form-control.select2-taskCategoryAdd(name='worker', style='width:100%;')
                      .col-md-6
                        .form-group
                          label(for='taskPriorityAdd', style='width:100%;') Prioriteta
                            select#taskPriorityAdd.custom-select.mr-sm-2.form-control.select2-taskPriorityAdd(name='worker', style='width:100%;')
                .text-center
                    button.btn.btn-success(onclick='addNewTask(0)') Dodaj opravilo
          #collapseFileTab.collapse.multi-collapse
            br
            h3 Datoteke
            if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik' || user_type == 'nabavnik' || user_type == 'komercialist' || user_type == 'komercijalist' || leader)
              br
              #fileList.list-group.span4
                each file in files
                  .list-group-item(id=file.id)
                    .row
                      .col-sm-2
                        img.img-fluid(src='/file'+file.type+'.png', alt='ikona', style='width:70px')
                      .col-sm-9
                        label.row.mt-2= file.original_name
                        label.row.mt-2(style='font-size:12px')= 'Naloženo: '+file.formatted_date.date+' ob '+file.formatted_date.time+'    Avtor: '+file.name+' '+file.surname
                      .col-sm-1
                        if(file.active)
                          a.btn.btn-primary.mt-3(href='/sendMeDoc?filename='+file.path_name+'&projectId='+projectId) Prenos
                        else
                          a.btn.btn-primary.mt-3.disabled(href='') Prenos
              br
              #addFileRow
                if(user_type == 'admin' || user_type == 'vodja' || user_type == 'nabavnik' || user_type == 'tajnik' || user_type == 'komercijalist' ||leader)
                  .text-center
                    button.btn.btn-success(onclick='newDocumentModal()') Dodaj datoteko
      br
      .row.col-lg-12
        a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
      .row
        .col
          #collapseTimetable.collapse.multi-collapse
            .card.card-body
              h5 Časovnica
              #myPlot
      br
      .row
        h5 Zaposleni na projektu
        .col-xs-12.col-sm-12
          //add workers here
          #workersList.list-group
            each worker in workers
              row.list-group-item.flex-column.worker(id='projectWorker'+worker.id_wp)
                .row
                  .col-12.col-sm-12.col-md-5.d-flex
                    .mr-4(id='workerImg'+worker.id_wp)
                      if(worker.workRole == 'strojnik')
                        img.img-fluid(src='/mechanic64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'električar')
                        img.img-fluid(src='/electrican64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'konstruktor' || worker.workRole == 'konstrukter')
                        img.img-fluid(src='/builder64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'plc')
                        img.img-fluid(src='/plc64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'kuka')
                        img.img-fluid(src='/kuka64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'vodja')
                        img.img-fluid(src='/manager64.png', alt='ikona', style='width:50px;')
                      else if(worker.workRole == 'nabavnik' || worker.workRole == 'komercialist' || worker.workRole == 'komercijalist' || worker.workRole == 'tajnik' || worker.workRole == 'tajnica')
                        img.img-fluid(src='/secratery64.png', alt='ikona', style='width:50px;')
                      else
                        img.img-fluid(src='/worker64.png', alt='ikona', style='width:50px;')
                    .ml-3.mt-1(id='workerInfo'+worker.id_wp)
                      .h5.mb-1.row(id='workerName'+worker.id_wp)= worker.name + " " + worker.surname
                  .col-4.col-sm-4.col-md-3.mt-1.text-center
                    .h5(id='workerRole'+worker.id_wp)= worker.workRole
                  .col-12.col-sm-8.col-md-4.d-flex
                    .ml-auto.mt-2(id='workerControl'+worker.id_wp)
                      if(user_type == 'admin' || user_type == 'vodja' || leader)
                        button.btn.btn-danger(onclick='deleteWorker('+worker.id_wp+')')
                          img.img-fluid(src='/remove.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odstrani")
                      if(user_type == 'admin' || user_type == 'vodja' || leader || (user_id == worker.id))
                        a.btn.btn-programmer.ml-3(href='/employees/absence?id='+worker.id) 
                          img.img-fluid(src='/absenceWhite.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Odsotnosti")
                        a.btn.btn-info.ml-3(href='/employees/tasks?userId='+worker.id) 
                          img.img-fluid(src='/pointer1.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Opravila")
                        a.btn.btn-primary.ml-3(href='/employees/userId?userId='+worker.id) 
                          img.img-fluid(src='/pointer2.png', alt='ikona' style='width:15px', data-toggle="tooltip", data-original-title="Projekti")
      br
      if(user_type == 'vodja' || user_type == 'admin' || leader)
        .col-md-12.text-center
          //a.btn.btn-primary(href='/projects/addworker/id?id='+projectId) Dodaj delavca
          button.btn.btn-success(onclick='openWorkerModal()') Dodaj delavca
      br
      br
      //#myPlot
      if(user_type == 'admin' || user_type == 'vodja' || leader)
        //MODALNO OKNO DODAJ DELAVCA
        #modalAddWorker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content.text-center
              .modal-header
                h4.modal-title.w-100.font-weight-bold Dodaj delavca
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body.mx-3
                form#addWorkerform(role='form', method='post')
                  .form-group
                    label(for='userAdd', style='width:100%') Uporabnik
                      select#userAdd.custom-select.mr-sm-2.form-control.select2-users(name='userAdd', style='width:100%')
                  .form-group
                    label(for='roleAdd', style='width:100%') Vloga
                      select#roleAdd.custom-select.mr-sm-2.form-control.select2-roles(name='roleAdd', style='width:100%')
                  button#btnAddWorker.btn.btn-success(type='submit') Dodaj
              .modal-footer.d-flex.justify-content-center
                button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA DELAVCE - samo procent opravila
      #modalCompletionForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#completion-form(role='form', method='post')
                .form-group
                  label(for='completionPost', style='width:100%') Opravljen delež opravila
                    input#completionPost.form-control(type='number', name='completionPost', min='0', max='100', required="")
                button#btnCompletionTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA IZBIRO PRI PDF
      #modalPDFForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.text-center.d-flex.justify-content-between
              .p-1
              h4.modal-title.w-100.font-weight-bold.p-1 Ustvari PDF
              button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .card-border-secondary
                .card-header Informacije o projektu
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxLogo.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxLogo') Logotip
                    .custom-control.custom-checkbox
                      input#checkboxProjectName.custom-control-input.p-1(type='checkbox', checked='', disabled='')
                      label.custom-control-label(for='checkboxProjectName') Ime projekta
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-date
                      input#checkboxDate.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxDate') Datum projekta
                    .custom-control.custom-checkbox.checkbox-number
                      input#checkboxProjectNumber.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProjectNumber') Številka projekta
              .card-border-secondary
                .card-header Delavci na projektu
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxVodja.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxVodja') Vodja
                    .custom-control.custom-checkbox
                      input#checkboxKons.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxKons') Konstrukter
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-mechanic
                      input#checkboxStro.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxStro') Strojnik
                    .custom-control.custom-checkbox.checkbox-electrican
                      input#checkboxElek.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxElek') Električar
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-kuka
                      input#checkboxKuka.custom-control-input(type='checkbox')
                      label.custom-control-label(for='checkboxKuka') Kuka
                    .custom-control.custom-checkbox.checkbox-plc
                      input#checkboxPlc.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxPlc') Plc
              .card-border-secondary
                .card-header Kategorije
                .card-body   
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox
                      input#checkboxNabava.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxNabava') Nabava
                    .custom-control.custom-checkbox
                      input#checkboxKonstrukcija.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKonstrukcija') Konstrukcija
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-mechanic-prod
                      input#checkboxStrIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStrIzd') Strojna izdelava
                    .custom-control.custom-checkbox.checkbox-electric-prod
                      input#checkboxEleIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleIzd') Elektro izdelava
                  .d-flex.justify-content-around
                    .custom-control.custom-checkbox.checkbox-assembly
                      input#checkboxMontaza.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxMontaza') Montaža
                    .custom-control.custom-checkbox.checkbox-prog
                      input#checkboxProg.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProg') Programiranje
                  .d-flex.justify-content-center
                    .custom-control.custom-checkbox
                      input#checkboxBrez.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxBrez') Brez
              .card-border-secondary
                .card-header Stil tabel
                .card-body
                  .d-flex.justify-content-around
                    .custom-control.custom-radio
                      input#radioObrobe.custom-control-input(type='radio', name='customRadio', checked='')
                      label.custom-control-label(for='radioObrobe') Obrobe
                    .custom-control.custom-radio
                      input#radioCrte.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='radioCrte') Črte
                    .custom-control.custom-radio
                      input#radioBrez.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='radioBrez') Brez
              .d-flex.justify-content-center
                button.btn.btn-primary(onclick='toPDF()') PDF
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K NALOGI
      #modalNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#note-form(role='form', method='post')  
                .form-group
                  input#subtaskIdNote.form-control(type='text', name='subtaskIdNote', readonly='', hidden='')
                .form-group.d-flex
                  input#noteInput.form-control.p-1.mr-auto(type='text', name='noteInput' required="")
                  button#btnNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K OPRAVILU
      #modalTaskNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#taskNote-form(role='form', method='post')
                .form-group
                  input#taskIdNote.form-control(type='text', name='taskIdNote', readonly='', hidden='')
                .form-group.d-flex
                  input#taskNoteInput.form-control.p-1.mr-auto(type='text', name='taskNoteInput' required="")
                  button#btnTaskNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJANJE DOKUMENTA
      #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addDocForm(action='/projects/fileUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  input#projectIdFile.form-control(type='text', name='projectIdFile', readonly='', hidden='' value=projectId)
                .form-group
                  input(type='file', name='docNew')
                  small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls ter slike.
                .text-center
                  button#btnAddDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO ZA SPOROČILO
      #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Obvestilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              row.d-flex
                .mr-auto(style='width:30%;')
                  if(type == 1)
                    img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                  else if(type == 2)
                    img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                  else
                    img#msgImg.img-fluid(src='/info.png', alt='ikona')
                .ml-auto.mt-5
                  h5#msg= msg
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
      if(user_type == 'admin' || user_type == 'vodja' || leader)
        //MODALNO ZA KONFLIKTE
        #modalConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h4.modal-title.w-100.font-weight-bold Konflikti
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              #conflictsBody.modal-body.fixed-modal-body
              .modal-footer.d-flex.justify-content-center
                button.btn.btn-success(onclick='addNewTask(1)') Vseeno dodaj opravilo
        //MODALNO ZA KONFLIKTE
        #modalConflictsEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h4.modal-title.w-100.font-weight-bold Konflikti
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              #conflictsEditBody.modal-body.fixed-modal-body
              .modal-footer.d-flex.justify-content-center
                button.btn.btn-success(onclick='updateEditTask(1)') Vseeno posodobi opravilo
      //MODALNO OKNO DODAJANJE DOKUMENTA ZA OPRAVILA
      #modalTaskDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addTaskDocForm(action='/projects/taskFileUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  input#projectIdTaskFile.form-control(type='text', name='projectIdTaskFile', readonly='', hidden='' value=projectId)
                .form-group
                  input#taskIdTaskFile.form-control(type='text', name='taskIdTaskFile', readonly='', hidden='' value='')
                .form-group
                  input(type='file', name='docNew')
                  small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls ter slike.
                .text-center
                  button#btnAddTaskDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //p= JSON.stringify(workers)
  //script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/project/project.min.js')
  //script(type='text/javascript', src='../javascripts/project/project.js')
  //script(type='text/javascript', src='../javascripts/project/viz.js')
  //script(type='text/javascript', src='../javascripts/changes/projectChanges.js')
  //script(type='text/javascript', src='../javascripts/project/tasks.js')
  //script(type='text/javascript', src='../javascripts/project/workers.js')
  //script(type='text/javascript', src='../javascripts/project/files.js')
  //script(type='text/javascript', src='../javascripts/project/absences.js')
  //script(type='text/javascript', src='../javascripts/project/subtasks.js')
  //script(type='text/javascript', src='../javascripts/project/project.js')