extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //za premikanje modalnih oken
  script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Seznam servisov
    if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      if(user_type == 'admin' || user_type == 'vodja')
        //.row
          a.btnAddProject.btn.btn-primary(href='/projects/add') Dodaj
        //br
        .row
          button.btnAddProject.btn.btnadd.btn-success(onclick='openAddServisModal()') Dodaj servis
      br
      .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
        .btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
          button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+0+')') Vsa
          button#option2.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+2+')') Nabava
          button#option3.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+3+')') Konstrukcija
          button#option4.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+4+')') Strojna izdelava
          button#option5.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+5+')') Elektro izdelava
          button#option6.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+6+')') Montaža
          button#option7.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+7+')') Programiranje
          button#option1.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeTaskTable('+1+')') Brez
        if(user_type == 'admin' || user_type == 'vodja')
          br
          .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active group')
            button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+0+')') Vsa
            button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off', onclick='changeActive('+1+')') Aktivna
            button#optionFalse.btn.btn-primary(type='radio', name='options', autocomplete='off', onclick='changeActive('+2+')') Neaktivna
      br
      table#tableTasks.display.table.table-hover.table-light(style='width:100%')
      //MODALNO OKNO DODAJ SERVIS
      #modalAddServisForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageAdd
              form#addServisform(role='form', method='post')
                .form-group
                  label(for='name', style='width:100%') Ime servisa
                    input#name.form-control(type='text', name='name', required='')
                .form-group
                  label(for='subscriber', style='width:100%') Naročnik
                    select#subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='subscriber', style='width:100%')
                .form-group
                  label(for='duration', style='width:100%') Število dni
                    input#duration.form-control(type='number', name='duration', min='0')
                .form-group
                  label(for='start', style='width:100%') Začetek servisa
                    input#start.form-control(type='date', name='start')
                .form-group
                  label(for='finish', style='width:100%') Konec servisa
                    input#finish.form-control(type='date', name='finish')
                .form-group
                  label(for='assignment', style='width:100%') Dodeli servis
                    select#assignment.custom-select.mr-sm-2.form-control.select2-workersAdd(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='category', style='width:100%') Kategorija
                    select#category.custom-select.mr-sm-2.form-control.select2-categoryAdd(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='priority', style='width:100%') Prioriteta
                    select#priority.custom-select.mr-sm-2.form-control.select2-priorityAdd(name='worker', disabled=disabled, style='width:100%')
                button#btnAddService.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREDI OPRAVILO
      #modalUpdateTaskForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .col-sm-12#messageEdit
              form#updateTask_form(role='form', method='post')
                .form-group
                  label(for='task_nameEdit', style='width:100%') Ime opravila
                    input#task_nameEdit.form-control(type='text', name='task_nameEdit', required='')
                .form-group
                  label(for='subscriberEdit', style='width:100%') Naročnik
                    select#subscriberEdit.custom-select.mr-sm-2.form-control.select2-subscriberEdit(name='subscriberEdit', style='width:100%')
                .form-group
                  label(for='durationEdit', style='width:100%') Število dni
                    input#durationEdit.form-control(type='number', name='durationEdit', min='0')
                .form-group
                  label(for='startEdit', style='width:100%') Začetek opravila
                    input#startEdit.form-control(type='date', name='startEdit')
                .form-group
                  label(for='finishEdit', style='width:100%') Konec opravila
                    input#finishEdit.form-control(type='date', name='finishEdit')
                .form-group
                  label(for='completionEdit', style='width:100%') Dokončano
                    input#completionEdit.form-control(type='number', name='completionEdit', min='0', max='100')
                .form-group
                  label(for='assignmentEdit', style='width:100%') Dodeli opravilo
                    select#assignmentEdit.custom-select.mr-sm-2.form-control.select2-workersEdit(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='categoryEdit', style='width:100%') Kategorija
                    select#categoryEdit.custom-select.mr-sm-2.form-control.select2-categoryEdit(name='worker', disabled=disabled, style='width:100%')
                .form-group
                  label(for='priorityEdit', style='width:100%') Prioriteta
                    select#priorityEdit.custom-select.mr-sm-2.form-control.select2-priorityEdit(name='worker', disabled=disabled, style='width:100%')
                if(user_type == 'admin' || user_type == 'vodja')
                  //.form-check
                    input#activeEdit.form-check-input(type='checkbox', value='')
                    label.form-check-label(for='activeEdit')
                      | Opravilo je aktivno
                  .custom-control.custom-checkbox
                    input#activeEdit.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='activeEdit') Opravilo je aktivno
                br
                button#btnUpdateTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA DELAVCE - samo procent opravila
      #modalCompletionForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#completion-form(role='form', method='post')
                .form-group
                  label(for='completionPost', style='width:100%') Opravljen delež opravila
                    input#completionPost.form-control(type='number', name='completionPost', min='0', max='100', required="")
                button#btnCompletionTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA NALOGE
      #modalSubtasksForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Naloge
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .subtask-body.span4
                #subtaskList.list-group.d-flex
                  row.d-flex.list-group-item(id=1)
                    label.p-1(style='width:70%') Novo opravilo ki je malo daljše samo zato da lahko preverim kako deluje style in če ne bo dost dolgo bom to besedilo podaljšal magari tudi za dve vrstici
                    .custom-control.custom-checkbox
                      input#customCheck1.custom-control-input(type='checkbox', checked='', onchange="toggleSubtaskCheckbox(this)")
                      label.custom-control-label(for='customCheck1') 
                    a.mypopover.p-1.mr-1.mt-2(href='#', data-toggle='popover', data-trigger='hover', data-content='test1', style='height:30px')
                      img.img-fluid(src='/info.png', alt='ikona' style='width:25px')
                    button.invisible-button.mr-1.mt-2(onclick="addSubtaskNote('+data+')")
                      img.img-fluid(src='/note-52.png', alt='ikona' style='width:25px')
                    button.btn.btn-danger.task-button.mr-2.mt-1(onclick="deleteSubtask('+data+')", style='width:25px, height:5px, border:none') X
              if(user_type == 'admin' || user_type == 'vodja')
                form#subtasks-form(role='form', method='post')  
                  .d-flex
                    input#subtaskInput.form-control.p-1.mr-auto(type='text', name='subtaskInput' required="")
                    button#btnSubtasks.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K NALOGI
      #modalNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#note-form(role='form', method='post')  
                .d-flex
                  input#noteInput.form-control.p-1.mr-auto(type='text', name='noteInput' required="")
                  button#btnNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K OPRAVILU
      #modalTaskNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#taskNote-form(role='form', method='post')  
                .d-flex
                  input#taskNoteInput.form-control.p-1.mr-auto(type='text', name='taskNoteInput' required="")
                  button#btnTaskNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //p= JSON.stringify(workers)
      //p= JSON.stringify(present)
      //p= JSON.stringify(tasks)
      //p= JSON.stringify(workerTasks)
      //p= JSON.stringify(projectId)¸
  //script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/servis/servis.min.js')
  //script(type='text/javascript', src='../javascripts/servis/servis.js')