extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Naročniki
    if(user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      if(user_type == 'admin' || user_type == 'vodja')
        //.row
          a.btnAddProject.btn.btn-primary(href='/projects/add') Dodaj
        //br
        button.btn.btn-success.mr-2(onclick='newSubscriberModal()') Dodaj naročnika
        //button.btn.btn-success.mr-2(onclick='newDocumentModal()') Dodaj dokument
        //a.btn.btn-primary(href='/sendMeDoc?filename=1562059866128-Projekt Čisto novi projekt.pdf') DAJ MI PDF!
      br
      table#subscribersTable.display.table.table-hover.table-light(style='width:100%')
      //MODALNO OKNO DODAJANJE NAROČNIKA 
      #modalSubscriberAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj novega naročnika
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addSubForm(action='/subscribers/fileUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  label(for='subscriberName', style='width:100%') Naziv naročnika
                    input#subscriberName.form-control(type='text', name='subscriberName', required='')
                .form-group
                  input(type='file', name='imageNew')
                  small#fileHelp.form-text.text-muted Slika naj ne bo prevelike velikosti, dovolj je 200x200, na straneh je slika pomanjšana, tako da se detajlov niti ne vidi. Prav tako se pri kreiranju PDF izognemo neusklanjevanju slike z dokumentom, če je slika pravokotne velikosti.
                .text-center
                  button#btnAddSub.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO UREJANJE NAROČNIKA 
      #modalSubscriberEditForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Uredi naročnika
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#editSubForm(action='/subscribers/fileUploadEdit', method='POST', enctype='multipart/form-data')
                .form-group
                  input#subscriberIdEdit.form-control(type='text', name='subscriberIdEdit', readonly='', hidden='')
                .form-group
                  label(for='subscriberNameEdit', style='width:100%') Naziv naročnika
                    input#subscriberNameEdit.form-control(type='text', name='subscriberNameEdit', required='')
                .form-group
                  input(type='file', name='imageEdit')
                  small#fileHelp.form-text.text-muted Če naročnik že ima ikono in ne izberete datoteke, ta ikona ostane in se posodobi samo naziv naročnika
                .text-center
                  button#btnEditSub.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO ZA SPOROČILO
      #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Obvestilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              row.d-flex
                .mr-auto(style='width:30%;')
                  if(type == 1)
                    img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                  else if(type == 2)
                    img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                  else
                    img#msgImg.img-fluid(src='/info.png', alt='ikona')
                .ml-auto.mt-5
                  h5#msg= msg
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
      //MODALNO OKNO DODAJANJE DOKUMENTA
      #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addDocForm(action='/subscribers/docUpload', method='POST', enctype='multipart/form-data')
                .form-group
                  input(type='file', name='docNew')
                  small#fileHelp.form-text.text-muted To je samo test za dodajanje dokumenta.
                .text-center
                  button#btnAddDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    script(type='text/javascript', src='../javascripts/subscriber/subscribers.min.js')
    //script(type='text/javascript', src='../javascripts/subscriber/manageSubscribers.js')