extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")
  //za premikanje modalnih oken
  //script(type='text/javascript', src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Moja opravila
    if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
      .row.col-lg-11
        .col-lg-2#imgEmployee
          if(employee.role == 'admin')
            img.img-fluid(src='/admin64.png' alt='ikona')
          else if(employee.role == 'tajnik')
            img.img-fluid(src='/secratery64.png', alt='ikona')
          else if(employee.role == 'vodja')
            img.img-fluid(src='/manager64.png', alt='ikona')
          else if(employee.role == 'električar')
            img.img-fluid(src='/electrican64.png', alt='ikona')
          else if(employee.role == 'strojnik')
            img.img-fluid(src='/mechanic64.png', alt='ikona')
          else if(employee.role == 'plc')
            img.img-fluid(src='/plc64.png', alt='ikona')
          else if(employee.role == 'kuka')
            img.img-fluid(src='/kuka64.png', alt='ikona')
          else if(employee.role == 'konstruktor')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else if(employee.role == 'konstrukter')
            img.img-fluid(src='/builder64.png', alt='ikona')
          else
            img.img-fluid(src='/worker64.png', alt='ikona')
        .col-lg-4
          h5#employeeName.col-lg-8= employee.name+' '+employee.surname
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik' || user_type == 'vodja')
            a.btn.btn-primary(href='/employees/userId?userId='+employee.id) Projekti
        .col-lg-2
          if(employee.id == user_id || user_type == 'admin' || user_type == 'tajnik')
            //a.btn.btn-primary(href='/employees/password/id?id='+employee.id) Spremeni geslo
            button.btn.btn-primary(onclick='openChangePassModal('+employee.id+')') Spremeni geslo
        .col-lg-2
          if(user_type == 'admin' || user_type == 'tajnik')
            //a.btn.btn-primary(href='/employees/role/id?id='+employee.id) Spremeni pravice
            button.btn.btn-primary(onclick='openChangeRoleModal('+employee.id+')') Spremeni pravice
      br
      .row.col-lg-12
        .col-xs-12.col-sm-8
          h5 Izbrano opravilo:
          #myActiveTask.card.mb-3(style='width:100%')
            .card-header
              .d-flex
                #activeProjectName.mr-auto Projekt
                #activeProjectInfo.p-1 
                  a.mypopover(data-toggle='popover', data-trigger='hover', data-content='')
                    img.img-fluid(src='/employees.png', alt='ikona' style='width:25px')
            .card-body
              .d-flex.mb-1
                h5#activeTaskName.p-1.mr-auto Opravilo
                #activeTaskCategory.p-1.mr-2 Kategorija
                #activeTaskInfo.p-1 
                  a.workerspopover(data-toggle='popover', data-trigger='hover', data-content='')
                    img.img-fluid(src='/employees.png', alt='ikona' style='width:25px')
              .d-flex
                #activeTaskDate Datum
                .ml-auto.progress(style='width:40%')
                  #activeTaskProgress.progress-bar.progress-bar-striped.progress-bar-animated(style='width:0%')
              #controlTask.d-flex.justify-content-end
                #taskCheckbox.custom-control.custom-checkbox
                  input.custom-control-input(id='customTaskCheck', type='checkbox', onchange='toggleTaskCheckbox(this)')
                  label.custom-control-label(for='customTaskCheck')  
                a.taskpopover.p-1.mr-1.mt-2(href='#', data-toggle='popover', data-trigger='hover', data-content='krneki test', style='height:30px;')
                  img.img-fluid(src='/info.png', alt='ikona', style='width:25px;')
                button.invisible-button.mr-1.mt-2(onclick='addTaskNote(`+id+`)')
                  img.img-fluid(src='/note-52.png', alt='ikona', style='width:25px;')
              .d-flex
                #controlButtons
                #taskBadges.ml-auto
          .span6
            #subtaskList.list-group.d-flex
        .col-xs-12.col-sm-4.span5
          h5 Prijahoča opravila:
          row#taskList.list-group
            each task in tasks
              if(!task.project_id)
                a.col-xs-12.list-group-item.list-group-item-action.list-group-item-info(href='#', id=task.id)
                  .col-sm-10
                    strong#task_name= task.task_name
                  .row
                    .col-sm-10
                      label#project_name= task.subscriber + " (servis)"
                  .row
                    .col-sm-10
                      if(task.task_start && task.task_finish)
                        label#date= task.formatted_start.date+'-'+task.formatted_finish.date
                      else if(task.task_start && !task.task_finish)
                        label#date= task.formatted_start.date+'- /'
                      else if(!task.task_start && task.task_finish)
                        label#date= '/ - '+task.formatted_finish.date
                      else
                        label#date= '/'
                  .row
                    if(task.expired)
                      span.badge.badge-danger.ml-2.mr-2.p-2 ZAMUDA
                      #taskItemBadges
                    else
                      #taskItemBadges
              else if(task.priority == 4)
                a.col-xs-12.list-group-item.list-group-item-action.list-group-item-high(href='#', id=task.id)
                  .col-sm-10
                    strong#task_name= task.task_name
                  .row
                    .col-sm-10
                      label#project_name= task.project_name
                  .row
                    .col-sm-10
                      if(task.task_start && task.task_finish)
                        label#date= task.formatted_start.date+'-'+task.formatted_finish.date
                      else if(task.task_start && !task.task_finish)
                        label#date= task.formatted_start.date+'- /'
                      else if(!task.task_start && task.task_finish)
                        label#date= '/ - '+task.formatted_finish.date
                      else
                        label#date= '/'
                  .row
                    if(task.expired)
                      span.badge.badge-danger.ml-2.mr-2.p-2 ZAMUDA
                      #taskItemBadges
                    else
                      #taskItemBadges
              else if(task.priority == 3)
                a.col-xs-12.list-group-item.list-group-item-action.list-group-item-medium(href='#', id=task.id)
                  .col-sm-10
                    strong#task_name= task.task_name
                  .row
                    .col-sm-10
                      label#project_name= task.project_name
                  .row
                    .col-sm-10
                      if(task.task_start && task.task_finish)
                        label#date= task.formatted_start.date+'-'+task.formatted_finish.date
                      else if(task.task_start && !task.task_finish)
                        label#date= task.formatted_start.date+'- /'
                      else if(!task.task_start && task.task_finish)
                        label#date= '/ - '+task.formatted_finish.date
                      else
                        label#date= '/'
                  .row
                    if(task.expired)
                      span.badge.badge-danger.ml-2.mr-2.p-2 ZAMUDA
                    else  
                      #taskItemBadges
              else if(task.priority == 2)
                a.col-xs-12.list-group-item.list-group-item-action.list-group-item-low(href='#', id=task.id)
                  .col-sm-10
                    strong#task_name= task.task_name
                  .row
                    .col-sm-10
                      label#project_name= task.project_name
                  .row
                    .col-sm-10
                      if(task.task_start && task.task_finish)
                        label#date= task.formatted_start.date+'-'+task.formatted_finish.date
                      else if(task.task_start && !task.task_finish)
                        label#date= task.formatted_start.date+'- /'
                      else if(!task.task_start && task.task_finish)
                        label#date= '/ - '+task.formatted_finish.date
                      else
                        label#date= '/'
                  .row
                    if(task.expired)
                      span.badge.badge-danger.ml-2.mr-2.p-2 ZAMUDA
                      #taskItemBadges
                    else
                      #taskItemBadges
              else
                a.col-xs-12.list-group-item.list-group-item-action(href='#', id=task.id)
                  .col-sm-10
                    strong#task_name= task.task_name
                  .row
                    .col-sm-10
                      label#project_name= task.project_name
                  .row
                    .col-sm-10
                      if(task.task_start && task.task_finish)
                        label#date= task.formatted_start.date+'-'+task.formatted_finish.date
                      else if(task.task_start && !task.task_finish)
                        label#date= task.formatted_start.date+'- /'
                      else if(!task.task_start && task.task_finish)
                        label#date= '/ - '+task.formatted_finish.date
                      else
                        label#date= '/'
                  .row
                    if(task.expired)
                      span.badge.badge-danger.ml-2.mr-2.p-2 ZAMUDA
                      #taskItemBadges
                    else
                      #taskItemBadges
      br
      .row.col-lg-12
        a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
      .row
        .col
          #collapseTimetable.collapse.multi-collapse
            .card.card-body
              h5 Časovnica
              #myPlot
      //MODALNO OKNO DODAJ PROCENT K OPRAVILU
      #modalCompletionForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opravilo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#completion-form(role='form', method='post')
                .form-group
                  label(for='completionPost') Opravljen delež opravila
                  input#completionPost.form-control(type='number', name='completionPost', min='0', max='100', required="")
                button#btnCompletionTask.btn.btn-primary(type='submit') Posodobi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO SPREMENI GESLO
      #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Geslo
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messagePass
              form#changePasswordform(role='form', method='post')
                .form-group
                  label(for='user_password', style='width:100%') Geslo 
                    input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                .form-group
                  label(for='user_password_again', style='width:100%') Ponovno geslo 
                    input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                    .valid-feedback Gesli se ujemata!
                    .invalid-feedback Gesli se ne ujemata!
                button#btnChangePass.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO SPREMENI PRAVICE - VLOGO
      #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Spremeni Pravice
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
            .col-sm-12#messageRole
              form#changeRoleform(role='form', method='post')
                .form-group
                  label(for='user_role', style='width:100%') Vloga
                    select#user_role.custom-select.mr-sm-2.form-control.select2-role(name='user_role', style='width:100%')
                button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA NALOGE
      #modalSubtasksForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Naloge
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              if(user_type == 'admin' || user_type == 'vodja')
                form#subtasks-form(role='form', method='post')  
                  .d-flex
                    input#subtaskInput.form-control.p-1.mr-auto(type='text', name='subtaskInput' required="")
                    button#btnSubtasks.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K NALOGI
      #modalNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#note-form(role='form', method='post')  
                .d-flex
                  input#noteInput.form-control.p-1.mr-auto(type='text', name='noteInput' required="")
                  button#btnNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA OPOMBO K OPRAVILU
      #modalTaskNoteForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Opomba
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#taskNote-form(role='form', method='post')  
                .d-flex
                  input#taskNoteInput.form-control.p-1.mr-auto(type='text', name='taskNoteInput' required="")
                  button#btnTaskNote.btn.btn-success(type='submit', style='width:10%') +
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //p= JSON.stringify(user_type)
      //p= JSON.stringify(user_id)
  //script(src='/javascripts/jquery-3.3.1.js')
  script(type='text/javascript', src='../javascripts/employee/tasks.min.js')
  //script(type='text/javascript', src='../javascripts/employee/tasks.js')
  //script(type='text/javascript', src='../javascripts/employee/change.js')
  //script(type='text/javascript', src='../javascripts/changes/tasksChanges.js')