html
  head
  body
    #collapseAddTask.multi-collapse.task-collapse.collapse.show(style='', data-select2-id='collapseAddTask')
      .row.d-flex.justify-content-end
        button.close.mr-4(type='button', aria-label='Close', onclick='closeCollapseNewTaskAbsence(85)')
          span(aria-label='true') x
      form#editTaskform(role='form', method='post', data-select2-id='editTaskform')
        .form-row
          .col-md-6
            .form-group
              label(for='taskNameAdd', style='width:100%;') Ime opravila
                input#taskNameAdd.form-control(type='text', name='taskNameAdd', required='')
          .col-md-6
            .form-group
              label(for='taskDurationAdd', style='width:100%;') Število dni
                input#taskDurationAdd.form-control(type='number', name='taskDurationAdd', min='0')
        .form-row
          .col-md-6
            .form-group
              label(for='taskStartAdd', style='width:100%;') Začetek opravila
                input#taskStartAdd.form-control(type='date', name='taskStartAdd')
                .valid-feedback Začetek opravila je po začetku projekta
                .invalid-feedback Začetek opravila je pred začetkom projekta!
          .col-md-6
            .form-group
              label(for='taskFinishAdd', style='width:100%;') Konec opravila
                input#taskFinishAdd.form-control(type='date', name='taskFinishAdd')
                .valid-feedback Konec opravila je pred koncem projekta
                .invalid-feedback Konec opravila je po koncu projekta!
        .form-row
          .col-md-6
            .form-group
              label(for='taskCompletionAdd', style='width:100%;') Dokončano
                input#taskCompletionAdd.form-control(type='number', name='taskCompletionAdd', min='0', max='100', required='')
          .col-md-6
            .form-group
              label(for='taskAssignmentAdd', style='width:100%;') Dodeli opravilo
                select#taskAssignmentAdd.custom-select.mr-sm-2.form-control.select2-workersAdd(name='worker', style='width:100%;')
        .form-row
          .col-md-6
            .form-group
              label(for='taskCategoryAdd', style='width:100%;') Kategorija
                select#taskCategoryAdd.custom-select.mr-sm-2.form-control.select2-taskCategoryAdd(name='worker', style='width:100%;')
          .col-md-6
            .form-group
              label(for='taskPriorityAdd', style='width:100%;') Prioriteta
                select#taskPriorityAdd.custom-select.mr-sm-2.form-control.select2-taskPriorityAdd(name='worker', style='width:100%;')
        .text-center
          button#btnAddTask.btn.btn-success.mt-1.mb-1(type='submit') Dodaj

ul.list-group
  li.list-group-item.d-flex.justify-content-between.align-items-center Cras justo odio
    span.badge.badge-primary.badge-pill 14
  li.list-group-item.d-flex.justify-content-between.align-items-center Dapibus ac facilisis in
    span.badge.badge-primary.badge-pill 2
  li.list-group-item.d-flex.justify-content-between.align-items-center Morbi leo risus
    span.badge.badge-primary.badge-pill 1