extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
  //tam kjer so časovnice
  script(src="/timelines-chart/dist/timelines-chart.min.js")

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Vizualizacija
    if(user_type == 'admin' || user_type == 'vodja' || user_type == 'tajnik')
    br
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#projects') Projekti
      li.nav-item
        a.nav-link(data-toggle='tab', href='#tasks') Opravila
      li.nav-item
        a.nav-link(data-toggle='tab', href='#employee') Zaposleni
    #myTabContent.tab-content.viz-content
      #projects.tab-pane.fade.active.show
        h5 Vizualizacija projektov
        hr
        #projectPlot
      #tasks.tab-pane.fade
        h5 Vizualizacija opravil na izbranem projektu
        row
          label(for='projectSelect', style='width:400px') Izberi projekt
            select#projectSelect.custom-select.mr-sm-2.form-control.select2-projects(name='projectSelect', disabled=disabled, style='width:100%')
          button.btn.btn-primary.ml-2(onclick='showProjectTasks()') Prikaži
        hr
        #tasksPlot
      #employee.tab-pane.fade
        h5 Vizualizacija 
        row
          label(for='employeesSelect', style='width:400px') Izberi zaposlenega
            select#employeesSelect.custom-select.mr-sm-2.form-control.select2-employees(name='employeesSelect', disabled=disabled, style='width:100%')
          button.btn.btn-primary.ml-2(onclick='showEmployeeTasks()') Prikaži
        hr
        #employeePlot
    //p= JSON.stringify(projects)
  script(type='text/javascript', src='../javascripts/viz/viz.min.js')
  //script(type='text/javascript', src='../javascripts/viz/viz.js')