body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/qbkls.png");
  background-repeat: repeat-xy;
}
.fixed-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
a {
  color: #00B7FF;
}
.container {
  margin-top: 50px !important;
}
.center-img {
  align-content: center;
  width: 40%;
}
.img-container {
  width: 64px;
  height: 64px;
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:800px;
}
.fixed_header thead tr{
  display:block;
}
.fixed {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: #FFF;
  border: 3px solid #6d6c6c;
}
.span-collapse {
  height: 947px !important;
  overflow: auto;
}
.span3 {  
  height: 350px !important;
  overflow: auto;
}
.span4 {  
  height: 400px !important;
  overflow: auto;
}
.span5 {  
  height: calc(100vh - 215px) !important;
  overflow: auto;
}
.span6 {  
  height: calc(100vh - 555px) !important;
  overflow: auto;
  min-height: 150px;
}
.span-collapse-content {  
  height: calc(100vh - 315px) !important;
  overflow: auto;
  max-height: 315px !important;
}
.project-task-height {
  height: 780px;
  overflow: auto;
}
.daily-list {
  overflow: scroll;
  height: calc(100vh - 285px);
  border: 2px solid #ccc;
  
  font-size: 16px;
}
.daily-list-item {
  padding: 10px 20px;
  height: 80px !important;
}
.myTaskRow {
  background-color: mediumslateblue;
}
.btnAddProject {
  margin-left: 15px;
}
.table-custom-checkbox {
  margin-top: -15px;
}
.table-custom-checkbox-task {
  margin-top: -7px;
}
.checkbox-date {
  margin-left: 26px;
}
.checkbox-number {
  margin-left: 4px;
}
.checkbox-mechanic {
  margin-left: 6px;
}
.checkbox-electrican {
  margin-right: 21px;
}
.checkbox-kuka {
  margin-left: -2px;
}
.checkbox-plc {
  margin-right: 51px;
}
.checkbox-mechanic-prod {
  margin-left: 26px;
}
.checkbox-electric-prod {
  margin-right: 6px;
}
.checkbox-assembly {
  margin-left: 10px;
}
.checkbox-prog {
  margin-left: 13px;
}
.priority-low,
.priority-low > th,
.priority-low > td {
  background-color: #f6dc86;
}
.table-hover .priority-low:hover {
  background-color: #f6d05d;
}
.table-hover .priority-low:hover > td,
.table-hover .priority-low:hover > th {
  background-color: #f6d05d;
}
.border-priority-low {
  border-color: #f6dc86 !important;
}
.bg-priority-low {
  background-color: #f6dc86 !important;
}
a.bg-priority-low:hover, a.bg-priority-low:focus,
button.bg-priority-low:hover,
button.bg-priority-low:focus {
  background-color: #f6d05d !important;
}
.list-group-item-low {
  color: #000000 !important;
  background-color: #f6dc86 !important;
}
.list-group-item-low.list-group-item-action:hover, .list-group-item-low.list-group-item-action:focus {
  color: #000000 !important;
  background-color: #ffe181 !important;
}
.list-group-item-low.list-group-item-action.active {
  color: rgb(0, 0, 0) !important;
  background-color: #f6d05d !important;
  border-color: #f8c324 !important;
}
.priority-medium,
.priority-medium > th,
.priority-medium > td {
  background-color: #f6c686;
}
.table-hover .priority-medium:hover {
  background-color: #f8b569;
}
.table-hover .priority-medium:hover > td,
.table-hover .priority-medium:hover > th {
  background-color: #f8b569;
}
.border-priority-medium {
  border-color: #f6c686 !important;
}
.bg-priority-medium {
  background-color: #f6c686 !important;
}
a.bg-priority-medium:hover, a.bg-priority-medium:focus,
button.bg-priority-medium:hover,
button.bg-priority-medium:focus {
  background-color: #f8b569 !important;
}
.list-group-item-medium {
  color: #000000 !important;
  background-color: #f6c686 !important;
}
.list-group-item-medium.list-group-item-action:hover, .list-group-item-medium.list-group-item-action:focus {
  color: #000000 !important;
  background-color: #fdc27d !important;
}
.list-group-item-medium.list-group-item-action.active {
  color: rgb(0, 0, 0) !important;
  background-color: #f8b569 !important;
  border-color: #f1a349 !important;
}
.priority-high,
.priority-high > th,
.priority-high > td {
  background-color: #f69386;
}
.table-hover .priority-high:hover {
  background-color: #f88669;
}
.table-hover .priority-high:hover > td,
.table-hover .priority-high:hover > th {
  background-color: #f88669;
}
.border-priority-high {
  border-color: #f69386 !important;
}
.bg-priority-high {
  background-color: #f69386 !important;
}
a.bg-priority-high:hover, a.bg-priority-high:focus,
button.bg-priority-high:hover,
button.bg-priority-high:focus {
  background-color: #f88669 !important;
}
.list-group-item-high {
  color: #000000 !important;
  background-color: #f69386 !important;
}
.list-group-item-high.list-group-item-action:hover, .list-group-item-high.list-group-item-action:focus {
  color: #000000 !important;
  background-color: #ff897a !important;
}
.list-group-item-high.list-group-item-action.active {
  color: rgb(0, 0, 0) !important;
  background-color: #f88669 !important;
  border-color: #ff633b !important;
}
.invisible-button {
  width: 30px;
  height: 25px;
  background: transparent;
  border: none !important;
}
.task-button {
  height: 35px;
}
.color-builder {
  color: #93C54B;
}
.color-mechanic {
  color: #4592af;
}
.color-electrican {
  color: #8f71ff;
}
.color-plc {
  color: #8e2e6a;
}
.color-kuka {
  color: #F47C3C;
}
.btn-outline-electrican {
  color: #8f71ff;
  background-color: transparent;
  background-image: none;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:hover {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:focus, .btn-outline-electrican.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-electrican.disabled, .btn-outline-electrican:disabled {
  color: #8f71ff;
  background-color: transparent;
}

.btn-outline-electrican:not(:disabled):not(.disabled):active, .btn-outline-electrican:not(:disabled):not(.disabled).active,
.show > .btn-outline-electrican.dropdown-toggle {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:not(:disabled):not(.disabled):active:focus, .btn-outline-electrican:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-electrican.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-outline-mechanic {
  color: #4592af;
  background-color: transparent;
  background-image: none;
  border-color: #4592af !important;
}

.btn-outline-mechanic:hover {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af !important;
}

.btn-outline-mechanic:focus, .btn-outline-mechanic.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-mechanic.disabled, .btn-outline-mechanic:disabled {
  color: #4592af;
  background-color: transparent;
}

.btn-outline-mechanic:not(:disabled):not(.disabled):active, .btn-outline-mechanic:not(:disabled):not(.disabled).active,
.show > .btn-outline-mechanic.dropdown-toggle {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-outline-mechanic:not(:disabled):not(.disabled):active:focus, .btn-outline-mechanic:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-mechanic.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-outline-plc {
  color: #8e2e6a;
  background-color: transparent;
  background-image: none;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:hover {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:focus, .btn-outline-plc.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-plc.disabled, .btn-outline-plc:disabled {
  color: #8e2e6a;
  background-color: transparent;
}

.btn-outline-plc:not(:disabled):not(.disabled):active, .btn-outline-plc:not(:disabled):not(.disabled).active,
.show > .btn-outline-plc.dropdown-toggle {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:not(:disabled):not(.disabled):active:focus, .btn-outline-plc:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-plc.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-mechanic {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-mechanic:hover {
  color: #fff;
  background-color: #367890;
  border-color: #367890;
}

.btn-mechanic:focus, .btn-mechanic.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #4592af;
          box-shadow: 0 0 0 0.2rem #4592af;
}

.btn-mechanic.disabled, .btn-mechanic:disabled {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-mechanic:not(:disabled):not(.disabled):active, .btn-mechanic:not(:disabled):not(.disabled).active,
.show > .btn-mechanic.dropdown-toggle {
  color: #fff;
  background-color: #367890;
  border-color: #367890;
}

.btn-mechanic:not(:disabled):not(.disabled):active:focus, .btn-mechanic:not(:disabled):not(.disabled).active:focus,
.show > .btn-mechanic.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #4592af;
          box-shadow: 0 0 0 0.2rem #4592af;
}
.btn-electrican {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff;
}

.btn-electrican:hover {
  color: #fff;
  background-color: #6c53c3;
  border-color: #6c53c3;
}

.btn-electrican:focus, .btn-electrican.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8f71ff;
          box-shadow: 0 0 0 0.2rem #8f71ff;
}

.btn-electrican.disabled, .btn-electrican:disabled {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff;
}

.btn-electrican:not(:disabled):not(.disabled):active, .btn-electrican:not(:disabled):not(.disabled).active,
.show > .btn-electrican.dropdown-toggle {
  color: #fff;
  background-color: #6c53c3;
  border-color: #6c53c3;
}

.btn-electrican:not(:disabled):not(.disabled):active:focus, .btn-electrican:not(:disabled):not(.disabled).active:focus,
.show > .btn-electrican.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8f71ff;
          box-shadow: 0 0 0 0.2rem #8f71ff;
}
.btn-programmer {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a;
}

.btn-programmer:hover {
  color: #fff;
  background-color: #612048;
  border-color: #612048;
}

.btn-programmer:focus, .btn-programmer.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8e2e6a;
          box-shadow: 0 0 0 0.2rem #8e2e6a;
}

.btn-programmer.disabled, .btn-programmer:disabled {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a;
}

.btn-programmer:not(:disabled):not(.disabled):active, .btn-programmer:not(:disabled):not(.disabled).active,
.show > .btn-programmer.dropdown-toggle {
  color: #fff;
  background-color: #612048;
  border-color: #612048;
}

.btn-programmer:not(:disabled):not(.disabled):active:focus, .btn-programmer:not(:disabled):not(.disabled).active:focus,
.show > .btn-programmer.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8e2e6a;
          box-shadow: 0 0 0 0.2rem #8e2e6a;
}
.btn-construction {
  color: #fff;
  background-color: #93C54B;
  border-color: #93C54B;
}

.btn-construction:hover {
  color: #fff;
  background-color: #729b38;
  border-color: #729b38;
}

.btn-construction:focus, .btn-construction.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #93C54B;
          box-shadow: 0 0 0 0.2rem #93C54B;
}

.btn-construction.disabled, .btn-construction:disabled {
  color: #fff;
  background-color: #93C54B;
  border-color: #93C54B;
}

.btn-construction:not(:disabled):not(.disabled):active, .btn-construction:not(:disabled):not(.disabled).active,
.show > .btn-construction.dropdown-toggle {
  color: #fff;
  background-color: #729b38;
  border-color: #729b38;
}

.btn-construction:not(:disabled):not(.disabled):active:focus, .btn-construction:not(:disabled):not(.disabled).active:focus,
.show > .btn-construction.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #93C54B;
          box-shadow: 0 0 0 0.2rem #93C54B;
}
.btn-purchase {
  color: #fff;
  background-color: #afad45;
  border-color: #afad45;
}

.btn-purchase:hover {
  color: #fff;
  background-color: #8f8d35;
  border-color: #8f8d35;
}

.btn-purchase:focus, .btn-purchase.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #afad45;
          box-shadow: 0 0 0 0.2rem #afad45;
}

.btn-purchase.disabled, .btn-purchase:disabled {
  color: #fff;
  background-color: #afad45;
  border-color: #afad45;
}

.btn-purchase:not(:disabled):not(.disabled):active, .btn-purchase:not(:disabled):not(.disabled).active,
.show > .btn-purchase.dropdown-toggle {
  color: #fff;
  background-color: #8f8d35;
  border-color: #8f8d35;
}

.btn-purchase:not(:disabled):not(.disabled):active:focus, .btn-purchase:not(:disabled):not(.disabled).active:focus,
.show > .btn-purchase.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #afad45;
          box-shadow: 0 0 0 0.2rem #afad45;
}
.btn-assembly {
  color: #fff;
  background-color: #af5e45;
  border-color: #af5e45;
}

.btn-assembly:hover {
  color: #fff;
  background-color: #97523c;
  border-color: #97523c;
}

.btn-assembly:focus, .btn-assembly.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #af5e45;
          box-shadow: 0 0 0 0.2rem #af5e45;
}

.btn-assembly.disabled, .btn-assembly:disabled {
  color: #fff;
  background-color: #af5e45;
  border-color: #af5e45;
}

.btn-assembly:not(:disabled):not(.disabled):active, .btn-assembly:not(:disabled):not(.disabled).active,
.show > .btn-assembly.dropdown-toggle {
  color: #fff;
  background-color: #97523c;
  border-color: #97523c;
}

.btn-assembly:not(:disabled):not(.disabled):active:focus, .btn-assembly:not(:disabled):not(.disabled).active:focus,
.show > .btn-assembly.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #af5e45;
          box-shadow: 0 0 0 0.2rem #af5e45;
}
.viz-content {
  background-color: #FFF;
}
.kartica {
  height: 160px;
}
.badge-dashboard {
  margin-top: 10px;
}
.badge-note {
  color: #fff;
  background-color: #8f71ff !important;
}

.badge-note[href]:hover, .badge-note[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #8f71ff !important;
}
.badge-completion {
  color: #fff;
  background-color: #4592af !important;
}

.badge-completion[href]:hover, .badge-completion[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4592af !important;
}
.badge-project {
  display: -webkit-inline-box;
  padding: 0.25em 0.4em;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.btn-dark-font {
  color: #000000 !important;
}
.badge-purchase {
  color: #fff;
  background-color: #afad45 !important;
}

.badge-purchase[href]:hover, .badge-purchase[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #afad45 !important;
}
.badge-construction {
  color: #fff;
  background-color: #93c54b !important;
}

.badge-construction[href]:hover, .badge-construction[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #93c54b !important;
}
.badge-mechanic {
  color: #fff;
  background-color: #4592af !important;
}

.badge-mechanic[href]:hover, .badge-mechanic[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4592af !important;
}
.badge-electrican {
  color: #fff;
  background-color: #8f71ff !important;
}

.badge-electrican[href]:hover, .badge-electrican[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #8f71ff !important;
}
.badge-assembly {
  color: #fff;
  background-color: #af5e45 !important;
}

.badge-assembly[href]:hover, .badge-assembly[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #af5e45 !important;
}
.badge-programmer {
  color: #fff;
  background-color: #8e2e6a !important;
}

.badge-programmer[href]:hover, .badge-programmer[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #8e2e6a !important;
}
.badge-low-priority {
  color: #fff;
  background-color: #f6dc86 !important;
}

.badge-low-priority[href]:hover, .badge-low-priority[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f6dc86 !important;
}
.badge-medium-priority {
  color: #fff;
  background-color: #f6c686 !important;
}

.badge-medium-priority[href]:hover, .badge-medium-priority[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f6c686 !important;
}
.badge-high-priority {
  color: #fff;
  background-color: #f69386 !important;
}

.badge-high-priority[href]:hover, .badge-high-priority[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f69386 !important;
}
.task-collapse {
  background-color: #f2f5f8;
}
.task-collapse-deleted {
  background-color: #f8f5f05e;
}
.collapse-task-height {
  height: 1000px;
}
.span-absence-list {  
  max-height: calc(100vh - 215px) !important;
  overflow: auto;
  /*max-height: 315px !important; */
}
.border-low-priority {
  border-left: 5px solid #ffd446 !important;
}
.border-medium-priority {
  border-left: 5px solid #ffa631 !important;
}
.border-high-priority {
  border-left: 5px solid #f85e4a !important;
}